<dialog class="modal medium" id="delete-media" data-modal="delete-media">
	<header class="header danger">
		<p class="title">Supprimer le média</p>
	</header>
	<div class="content">
		<div class="alert error">
			Cette action est irréversible. Une fois supprimé, le media par défaut sera utilisé.
		</div>
		<form action="" id="delete-media-form" method="dialog">
			<img src="" alt="" style="max-width: 100%">
         <video disablepictureinpicture controls muted>
            <source src="" type="" />
         </video>
		</form>
      <footer class="footer">
         <button type="submit" form="delete-media-form" id="delete-media-btn" class="danger">Supprimer</button>
         <button type="button" autofocus data-close-modal="" command="close" commandfor="delete-media">Annuler</button>
      </footer>
	</div>
</dialog>
