<footer id="footer">
	<p>
		<a href="#main" class="iconLink">
			<i class="icon-general_up" title="Revenir en haut de page"></i>
		</a>
		<a href="{{ webRoot }}" class="iconLink">
			<i class="icon-general_home" title="Revenir à l'accueil"></i>
		</a>
		<a href="https://github.com/JefGrailet/JeuxRedige" target="blank" class="iconLink">
			<i class="icon-ext_github" title="Code source sur GitHub"></i>
		</a>
		<a href="https://www.youtube.com/@ShoganaiTV" target="blank" class="iconLink">
			<i class="icon-ext_youtube_logo" title="Notre chaîne YouTube"></i>
		</a>
		<!-- <a href="https://twitter.com/[...]" target="blank" class="iconLink">
				               <i class="icon-social_x" title="Suivez-nous sur X (Twitter)"></i>
				            </a> -->
	</p>
	<p>
		v1.1 - Généré en {{renderTime}} seconde -
		<a href="{{ webRoot }}/About.php">À propos de JeuxRédige</a>
	</p>
</footer>
