<table class="inputFileContainer">
	<thead>
		<tr>
			<th>Nouvelle image</th>
			<th>Image actuelle</th>
		</tr>
	</thead>
	<tbody>
		<tr style="position: relative">
			<td>
				<img alt="" class="max-w-full max-h-full">
				<div class="arrowIcon">
					<svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-6 h-6">
						<path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
					</svg>
				</div>
			</td>
			<td>
				<img src="{{ user.avatar }}" alt="Avatar de {{ user.pseudo }}">
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div class="labelWrapper">
					<label class="primaryButton">
						Sélectionner un avatar
						<input type="file" name="avatar" accept="{{ avatar_requirements.mimeTypes }}" data-upload-input id="avatar">
					</label>
				</div>
			</td>
		</tr>
	</tbody>
</table>
