{# <div class="target">
   <p>Jeuxredige.com</p>
</div> #}
<menu class="textEditorToolbar">
   <li>
      <button type="button" data-editor-tool="bold">
         <i class="icon-formatting_bold"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="italic">
         <i class="icon-formatting_italic"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="underlined">
         <i class="icon-formatting_underlined"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="strikethrough">
         <i class="icon-formatting_strikethrough"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="title">
         <i class="icon-formatting_title"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_list">
         <i class="icon-formatting_list"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="general_hyperlink" command="show-modal" commandfor="hyperlink-media" data-trigger-modal="hyperlink-media">
         <i class="icon-general_hyperlink"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_colorpick" command="show-modal" commandfor="select-color" data-trigger-modal="select-color">
         <i class="icon-formatting_colorpick"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_center-aligned">
         <i class="icon-formatting_center-aligned"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_right-aligned">
         <i class="icon-formatting_right-aligned"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_quote">
         <i class="icon-formatting_quote"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_spoiler">
         <i class="icon-formatting_spoiler"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_spoiler_bis">
         <i class="icon-formatting_spoiler_bis"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_picture" command="show-modal" commandfor="integrate-external-img" data-trigger-modal="integrate-external-img">
         <i class="icon-formatting_picture"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_video" command="show-modal" commandfor="integrate-yt-video" data-trigger-modal="integrate-yt-video">
         <i class="icon-ext_youtube_text"></i>
      </button>
   </li>
   <li>
      <button type="button" class="article" data-editor-tool="formatting_quotation">
         <i class="icon-formatting_quotation"></i>
      </button>
   </li>
   <li>
      <button type="button" class="article" data-editor-tool="formatting_block">
         <i class="icon-formatting_block"></i>
      </button>
   </li>
   <li>
      <button type="button" class="article" data-editor-tool="formatting_summary">
         <i class="icon-formatting_summary"></i>
      </button>
   </li>
   {# <li>
      <button type="button" data-editor-tool="formatting_smilies">
         <i class="icon-formatting_smilies"></i>
      </button>
   </li> #}
</menu>

