<menu class="textEditorToolbar">
   <li>
      <button type="button" data-editor-tool="bold">
         <i class="icon-formatting_bold"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="italic">
         <i class="icon-formatting_italic"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="underlined">
         <i class="icon-formatting_underlined"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="strikethrough">
         <i class="icon-formatting_strikethrough"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="title">
         <i class="icon-formatting_title"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_list">
         <i class="icon-formatting_list"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="general_hyperlink" command="show-modal" commandfor="hyperlink-media">
         <i class="icon-general_hyperlink"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_colorpick">
         <i class="icon-formatting_colorpick"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_center-aligned">
         <i class="icon-formatting_center-aligned"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="icon-formatting_right-aligned">
         <i class="icon-formatting_right-aligned"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_quote">
         <i class="icon-formatting_quote"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_spoiler">
         <i class="icon-formatting_spoiler"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_spoiler_bis">
         <i class="icon-formatting_spoiler_bis"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_picture">
         <i class="icon-formatting_picture"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_video">
         <i class="icon-formatting_video"></i>
      </button>
   </li>
   <li>
      <button type="button" class="article" data-editor-tool="formatting_quotation">
         <i class="icon-formatting_quotation"></i>
      </button>
   </li>
   <li>
      <button type="button" class="article" data-editor-tool="formatting_block">
         <i class="icon-formatting_block"></i>
      </button>
   </li>
   <li>
      <button type="button" class="article" data-editor-tool="formatting_summary">
         <i class="icon-formatting_summary"></i>
      </button>
   </li>
   {# <li>
      <button type="button" data-editor-tool="formatting_smilies">
         <i class="icon-formatting_smilies"></i>
      </button>
   </li> #}
</menu>

