{# Ajouter un hyperlien #}
<dialog class="modal" id="hyperlink-media" data-modal="hyperlink-media">
	<header class="header">
		<p class="title">Ajouter un hyperlien</p>
		<button class="closeModal" command="close" commandfor="hyperlink-media">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
			</svg>
			Annuler
		</button>
	</header>

	<form method="dialog" class="content" data-form-schema-validation="add_hyperlink">
		<ul class="alert error" role="alert" data-form-error="add_hyperlink"></ul>
		<p class="alert warning">Les champs avec * sont requis</p>

		<script type="text/schema" data-form-schema="add_hyperlink">
			return z.object({
            hyperlink: z.httpUrl(),
            hyperlink_title: z.string().optional().or(z.literal('')),
         })
		</script>

		<div class="gridForm">
			<div class="inputContainer row">
				<label for="hyperlink">URL<span style="color: var(--danger-color);">*</span>
				</label>
				<input type="url" id="hyperlink" name="hyperlink" placeholder="https://www.jeuxredige.com">
			</div>
			<div class="inputContainer row">
				<label for="hyperlink_title">Libellé</label>
				<input type="text" name="hyperlink_title" id="hyperlink_title" placeholder="Accéder à jeuxredige.com">
			</div>
			<div class="inputContainer">
				<button type="submit" class="primaryButton">Insérer</button>
			</div>
		</div>
	</form>
</dialog>

{# Sélectionner une couleur #}
<dialog class="modal" id="select-color" data-modal="select-color">
	<header class="header">
		<p class="title">Changer la couleur du texte</p>
		<button class="closeModal" command="close" commandfor="select-color">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
			</svg>
			Annuler
		</button>
	</header>

	<form method="dialog" class="content">
		<div class="gridForm">
			<div class="inputContainer row">
				<label for="text-color">Couleur</label>
				<input style="width: 100%" type="color" id="text-color" name="text_color" value="#fff"/>
			</div>
			<div class="inputContainer">
				<button type="submit" class="primaryButton">Utiliser cette couleur</button>
			</div>
		</div>
	</form>
</dialog>

{# Sélectionner une image externe #}
<dialog class="modal medium" id="integrate-external-img" data-modal="integrate-external-img">
	<header class="header">
		<p class="title">Importer une image externe</p>
		<button class="closeModal" command="close" commandfor="integrate-external-img">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
			</svg>
			Fermer
		</button>
	</header>

	<form class="content gridForm" method="dialog" data-form-schema-validation="external_img">
		<p class="alert warning full">Les champs avec * sont requis</p>
      <ul class="alert error full" role="alert" data-form-error="external_img"></ul>

		<script type="text/schema" data-form-schema="external_img">
			return z.object({
            url_img: z.httpUrl().refine(
               (url) => {
                  console.log(url)
                  return true;
                  if (url === null) {
                     return true;
                  }
                  return "{{ image_header_requirements.mimeTypes }}".split(",").includes(file?.type);
               }
            ),
            alt_img: z.string().max(250)
         })
		</script>
		<div class="inputContainer row">
			<label for="url">URL<span style="color: var(--danger-color);">*</span></label>
			<input type="url" name="url_img" id="url"/>
			<p class="notes full">L'image sera affichée en taille réelle</p>
		</div>
      <div class="inputContainer row">
			<label for="alt">Texte alternatif</label>
			<input type="text" name="alt_img" id="alt" maxlength="250" placeholder="Maximum 250 caractères"/>
			<p class="notes full">Le champ est limité à 250 caractères. Le texte alternatif permet un meilleur référencement. Il est préférable de ne rien mettre plutôt qu'un texte banal comme "image 1"</p>
		</div>

		<div class="inputContainer">
			<input type="submit" class="fit primaryButton" value="Insérer à la page">
		</div>
	</form>
</dialog>

{# Sélectionner une vidéo Youtube #}
<dialog class="modal medium" id="integrate-yt-video" data-modal="integrate-yt-video">
	<header class="header">
		<p class="title">Importer une vidéo Youtube</p>
		<button class="closeModal" command="close" commandfor="integrate-yt-video">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
			</svg>
			Fermer
		</button>
	</header>

	<form class="content gridForm" method="dialog" data-form-schema-validation="youtube_video">
		<p class="alert warning full">Les champs avec * sont requis</p>
      <ul class="alert error full" role="alert" data-form-error="youtube_video"></ul>

		<script type="text/schema" data-form-schema="youtube_video">
			return z.object({
            yt_video: z.httpUrl()
               .refine((value) => {
                  if (!value) {
                     return true;
                  }
                  const youtubeRegex = /http(?:s?):\/\/www.youtube(?:\.com\/watch\?v=)([\w\-\_]*)(&(amp;)?‌​[\w\?‌​=]*)?/;
                  return youtubeRegex.test(value ?? "");
               }, 'Ceci n\'est pas une URL valide de vidéo Youtube, veuillez vous référer à l\'exemple plus bas')
         })
		</script>
		<div class="inputContainer row">
			<label for="yt_video">Lien YouTube<span style="color: var(--danger-color);">*</span></label>
			<input type="url" name="yt_video" id="yt_video"/>
         <p class="notes full">Vous devez mettez l'URL intégrale de la vidéo YouTube. Ex : <a href="https://www.youtube.com/watch?v=E4WlUXrJgy4" target="_blank">https://www.youtube.com/watch?v=E4WlUXrJgy4</a></p>
		</div>
      <div class="inputContainer row">
			<label for="ratio_video">Taille</label>
			<select name="ratio_video" id="ratio_video">
            <option value="default">Par défaut (480 x 270 pixels)</option>
            <option value="0.25">Ajustée à 25% de la largeur</option>
            <option value="0.5">Ajustée à 50% de la largeur</option>
            <option value="0.75">Ajustée à 75% de la largeur</option>
            <option value="1.0">Ajustée à 100% de la largeur</option>
         </select>
		</div>

		<div class="inputContainer">
			<input type="submit" class="fit primaryButton" value="Insérer à la page">
		</div>
	</form>
</dialog>

{# Intégrer média depuis la bibliothèque #}
<dialog class="modal medium" id="integrate-media" data-modal="integrate-media">
	<header class="header">
		<p class="title">Personnaliser le média</p>
		<button class="closeModal" command="close" commandfor="integrate-media">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
			</svg>
			Fermer
		</button>
	</header>

	<form class="content gridForm" method="dialog">
      <p class="alert warning full">Les champs avec * sont requis</p>
		<img src="" alt="" class="full">
      <input type="hidden" name="media_type">
      <video disablepictureinpicture controls class="full">
         <source src="" type="" />
      </video>
		<div class="inputContainer row">
			<label for="url">URL</label>
			<input type="text" readonly name="media_url"/>
		</div>
		<div class="inputContainer row">
			<label for="mediaFormat">Format</label>
			<select name="media_format" id="mediaFormat">
				<option value="mini">Miniature - Il sera possible d'agrandir le media en cliquant dessus</option>
				<option value="1.0">Dimensions originales</option>
				<option value="0.5">Dimensions x0.5</option>
				<option value="1.5">Dimensions x1.5</option>
				<option value="2.0">Dimensions x2</option>
				<option value="3.0">Dimensions x3</option>
				<option value="5.0">Dimensions x5</option>
			</select>
		</div>

		<div class="inputContainer row">
			<label for="mediaFloating">Alignement</label>
			<select name="media_floating" id="mediaFloating">
				<option value="normal">Aucun</option>
				<option value="left">A gauche</option>
				<option value="right">A droite</option>
			</select>
		</div>

		<div class="inputContainer row">
         <label for="altText">Texte alternatif</label>
			<input type="text" name="img_alt" id="altText" maxlength="250" placeholder="Maximum 250 caractères"/>
			<p class="notes full">Le champ est limité à 250 caractères. Le texte alternatif permet un meilleur référencement. Il est préférable de ne rien mettre plutôt qu'un texte banal comme "image 1"</p>
		</div>

		<div class="inputContainer">
			<input type="submit" class="fit primaryButton" value="Insérer à la page">
		</div>
	</form>
</dialog>

<dialog class="modal" id="delete-media" data-modal="delete-media">
   <header class="header danger">
      <p class="title">Supprimer le média</p>
      <button class="closeModal" command="close" commandfor="delete-media">
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
         </svg>
         Fermer
      </button>
   </header>

   <div class="content">
      <div class="alert error">
         Cette action est irréversible
      </div>
      <video disablepictureinpicture controls muted>
         <source src="" type="" />
      </video>
      <img src="" alt="">
      <footer class="footer">
         <button type="button" class="danger" id="delete-media-btn">Supprimer le média</button>
      </footer>
   </div>
</dialog>

<dialog class="modal medium" id="preview-media" data-modal="preview-media">
   <header class="header">
      <p class="title">Prévisualisation</p>
      <button class="closeModal" command="close" commandfor="preview-media">
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
         </svg>
         Fermer
      </button>
   </header>

   <div class="content">
      <img src="" alt="" class="lightboxImg" loading="lazy">
      <video disablepictureinpicture controls autoplay muted>
         <source src="" type="" />
      </video>
      <p class="mediaLegend">
         Uploadé le <span data-date></span>
         (<a href="http://" target="_blank" rel="noopener noreferrer">Voir en grand</a>)
      </p>
   </div>
</dialog>
