<div popover="hint" class="tooltip-tool" id="tooltip-editor-tool">
   <p>Jeuxredige.com</p>
</div>
<menu class="textEditorToolbar">
   <li>
      <button type="button" data-editor-tool="bold" title="Mettre en gras">
         <i class="icon-formatting_bold"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="italic" title="Mettre en italique">
         <i class="icon-formatting_italic"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="underlined" title="Souligner">
         <i class="icon-formatting_underlined"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="strikethrough" title="Barrer">
         <i class="icon-formatting_strikethrough"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="title" title="Insérer un titre">
         <i class="icon-formatting_title"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_list" title="Insérer une liste à puces">
         <i class="icon-formatting_list"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="general_hyperlink" command="show-modal" commandfor="hyperlink-media" data-trigger-modal="hyperlink-media" title="Insérer un lien">
         <i class="icon-general_hyperlink"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_colorpick" command="show-modal" commandfor="select-color" data-trigger-modal="select-color" title="Changer la couleur du texte">
         <i class="icon-formatting_colorpick"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_center-aligned" title="Centrer" title="Centrer">
         <i class="icon-formatting_center-aligned"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_right-aligned" title="Aligner à droite">
         <i class="icon-formatting_right-aligned"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_quote" title="Citer">
         <i class="icon-formatting_quote"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_spoiler"  title="Cacher du texte">
         <i class="icon-formatting_spoiler"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_spoiler_bis" title="Ajouter un spoiler">
         <i class="icon-formatting_spoiler_bis"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_picture" command="show-modal" commandfor="integrate-external-img" data-trigger-modal="integrate-external-img" title="Intégrer une image ou un clip externe">
         <i class="icon-formatting_picture"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_video" command="show-modal" commandfor="integrate-yt-video" data-trigger-modal="integrate-yt-video" title="Intégrer une video YouTube">
         <i class="icon-ext_youtube_text"></i>
      </button>
   </li>
   <li>
      <button type="button" data-editor-tool="formatting_podcast" command="show-modal" commandfor="integrate-podcast" data-trigger-modal="integrate-yt-video" title="Intégrer un podcast Acast audio">
         <i class="icon-podcast"></i>
      </button>
   </li>
   {# <li>
      <button type="button" class="article" data-editor-tool="formatting_quotation" inert title="Insérer une emphase (citation)">
         <i class="icon-formatting_quotation"></i>
      </button>
   </li> #}
   <li>
      <button type="button" class="article" data-editor-tool="formatting_block" title="Insérer une emphase (bloc)">
         <i class="icon-formatting_block"></i>
      </button>
   </li>
   <li>
      <button type="button" class="article" data-editor-tool="formatting_summary" title="Intégrer un résumé (points forts/faibles)">
         <i class="icon-formatting_summary"></i>
      </button>
   </li>
   {# <li>
      <button type="button" data-editor-tool="formatting_smilies">
         <i class="icon-formatting_smilies"></i>
      </button>
   </li> #}
</menu>

