{% extends "layouts/base.html.twig" %}

{% block content %}
	<div class="centeredContent">
		<p>
			{% if error_key == "noArticle" %}
				Aucun article publié n'a été trouvé.
			{% elseif error_key == "noArticleCat" %}
				Aucun article publié dans cette catégorie n'a été trouvé.
			{% elseif error_key == "dbError" %}
				Nous rencontrons actuellement des difficultés avec la base de données. Revenez plus tard ou contactez l'administrateur.
			{% elseif error_key == "wrongTemplating" %}
				Une erreur est survenue lors de la génération des vignettes. Réessayez plus tard ou contactez l'administrateur.
			{% else %}
				Une erreur est survenue. Veuillez réessayer.
			{% endif %}
		</p>
         {# {switch:wholeList||
link & <a href="./Articles.php" class="prettyLink">Tous les articles</a>&nbsp; |
viewed & <span class="prettyText">Tous les articles</span>&nbsp; }
   {switch:research||
link & <a href="./SearchArticles.php" class="prettyLink">Filtrer</a>|
goBack & <a href="./Articles.php" class="prettyLink">Retour à la liste des articles</a>|
none & } #}
	</div>
{% endblock %}
