{% extends "layouts/base.html.twig" %}

{% block content %}
	<div class="sectionBlock myAccount">
		<p class="title" role="alert">Erreur
			{{ error_title }}</p>
		<div class="content">
			<p>
				{% if error_key == "noSegment" %}
					Cet article est vide, il ne comporte aucune page.
				{% elseif error_key == "missingID" %}
					L'ID de l'article n'est pas précisé.
				{% elseif error_key == "dbError" %}
					Nous rencontrons actuellement des difficultés avec la base de données. Revenez plus tard ou contactez l'administrateur.
				{% elseif error_key == "nonexistingArticle" %}
					L'article recherché n'existe pas ou plus.
				{% elseif error_key == "restrictedAccess" %}
					Cet article n'a pas encore été publié et n'est visible que par son auteur.
            {% elseif error_key == "forbiddenAccess" %}
					Vous n'êtes pas autorisé(e) à utiliser cette page.
				{% elseif error_key == "missingID" %}
					Article introuvable.
            {% elseif error_key == "notConnected" %}
					Vous devez être connecté(e) pour accéder à cette page. <a href="./LogIn.php">Se connecter.</a>
				{% else %}
					Une erreur est survenue. Veuillez réessayer.
				{% endif %}
			</p>
		</div>
	</div>
{% endblock %}
