{% extends "layouts/base.html.twig" %}

{% block content %}
	<div class="centeredContent">
		<p>
			{% if error_key == "noContent" %}
				Il n'y a actuellement aucun contenu.
			{% elseif error_key == "dbError" %}
				Nous rencontrons actuellement des difficultés avec la base de données. Revenez plus
											tard ou contactez l'administrateur.
			{% elseif error_key == "" %}
				Une erreur est survenue lors de la génération des vignettes. Réessayez plus
									tard ou contactez l'administrateur.
			{% else %}
				Une erreur est survenue
			{% endif %}
		</p>
	</div>
{% endblock %}
