{% extends "layouts/base.html.twig" %}
{% block content %}
	<div class="smallContainer">
		<h1>Erreur - Cette page n'est pas accessible</h1>

      <div class="alert error">
         <p>Pour utiliser cette page, vous devez être enregistré et connecté.</p>
         <p><a class="link" href="./LogIn.php">Se connecter</a></p>
      </div>
	</div>
{% endblock %}
