<div class="emphasis" style="background: url('{{ background_image }}') no-repeat center; background-size: 100%">
	<blockquote class="emphasisWithin">
		<p>
			«
			{{ quote }}
			»
		</p>
	</blockquote>
</div>
