</p><div class="emphasis" style="background: url('{{ background_image }}') no-repeat center; background-size: cover;">
	<blockquote class="emphasisWithin">
		<p>
			«
			{{ quote }}
			»
		</p>
	</blockquote>
</div></p>
