/* Style for articles */

#articleWrapper
{
   margin: auto;
   width: 90%;
   min-width: 800px;
   max-width: 1152px; /* 60% of the width in 1920x1080 */
   padding-top: 20px;
}

.articleSegment
{
   background-color: white;
   border-radius: 5px;
   margin: 20px;
   padding-bottom: 5px;
   box-shadow: 0px 0px 2px 0px grey;
}

.segmentHeader
{
   position: relative;
   min-height: 100px;
   border-radius: 5px 5px 0px 0px;
   background-color: black;
}

.segmentHeaderPlain
{
   border-radius: 5px 5px 0px 0px;
   background-color: white;
   padding-top: 20px;
   padding-bottom: 5px;
}

.segmentHeader .segmentHeaderBottom
{
   position: absolute;
   bottom: 0;
   left: 0;
   padding-top: 10px;
   background-color: rgba(0, 0, 0, 0.75);
   border-radius: 0px 5px 0px 0px;
   /* border-top: 1px solid #646464; */
   /* border-right: 1px solid #646464; */
}

.segmentHeader .segmentHeaderBottom:hover
{
   background-color: rgba(0, 0, 0, 0.85);
}

.segmentHeader h1, .segmentHeaderPlain h1
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.875rem; /* ~30px */
   font-weight: 200;
   text-align: justify;
   background: none;
   padding: 0px;
}

.segmentHeader h2, .segmentHeaderPlain h2
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.5rem; /* ~24px */
   font-weight: 200;
   text-align: justify;
   background: none;
   padding: 0px;
}

.segmentHeader h1
{
   margin: 0px 20px 10px 20px;
}

.segmentHeader h2
{
   margin: -5px 20px 10px 20px;
}

.segmentHeader h1, .segmentHeader h2
{
   color: white;
}

.segmentHeaderPlain h1, .segmentHeaderPlain h2
{
   color: black;
}

.segmentHeaderPlain h1
{
   margin: 0px 20px 0px 20px;
}

.segmentHeaderPlain h2
{
   margin: 0px 20px 0px 20px;
}

.segmentBody p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: justify;
   padding:  7px;
   margin: 5px 10px 5px 10px;
}

.segmentBody p a
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: justify;
   text-decoration: none;
   color: #3475e5; /* Default if no "charter_..." side style sheet */
}

.segmentBody p a:hover
{
   color: black; /* Default if no "charter_..." side style sheet */
}

.segmentBody h2
{
   margin: 7px 7px 4px 7px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.25rem; /* ~20px */
   padding: 10px;
   text-align: justify;
   color: black;
}

.segmentBody h2:before
{
   content: "\0025B6\00a0";
}

.segmentBody h2 a
{
   text-decoration: none;
   color: #3475e5; /* Default if no "charter_..." side style sheet */
}

.segmentBody h2 a:hover
{
   color: #646464; /* Default if no "charter_..." side style sheet */
}

.segmentBody img, .segmentBody video
{
   max-width: 100%;
}

.segmentBody ul
{
   margin-top: 0px;
   margin-bottom: 10px;
   margin-left: 20px;
   padding-left: 20px;
}

.segmentBody li
{
   font-size: 1rem; /* ~16px */
   font-family: "Roboto", "Arial", sans-serif;
   list-style: none;
   padding-bottom: 5px;
   padding-right: 10px;
}

.segmentBody li:before
{
   content: "\0025B6";
   display: inline-block;
   width: 1rem;
   margin-left: -1rem;
}

/* Emphasis (quote) style */

.emphasis
{
   margin-top: 20px;
   clear: both;
}

.emphasis .emphasisWithin
{
   background-color: rgba(0, 0, 0, 0.3);
   color: white;
}

.emphasis .emphasisWithin p
{
   padding: 50px;
   display: block;
   text-align: center;
   font-family: "RobotoBold", "Arial", sans-serif;
   font-size: 1.625rem; /* ~26px */
   font-weight: bold;
}

/* Emphasis (block) style */

.emphasisText
{
   margin: 15px;
   clear: both;
   background-color: black;
   color: white;
   border-radius: 5px;
   padding-bottom: 5px;
}

.emphasisText h3
{
   background: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.25rem; /* ~20px */
   font-weight: bold;
   margin: 0px;
   padding-left: 17px;
   padding-right: 17px;
   padding-top: 10px;
}

.emphasisText h3:before
{
   content: "\0025B6\00a0";
}

.segmentBody .emphasisText p a
{
   color: #3475e5; /* Default if no "charter_..." side style sheet */
}

.segmentBody .emphasisText p a:hover
{
   color: #c8c8c8;
}

/* Summary style */

.summary
{
   clear: both;
}

.summaryGood
{
   width: 50%;
   float: left;
}

.summaryBad
{
   width: 50%;
   float: right;
}

.summaryGood h3, .summaryBad h3
{
   display: inline-block;
   margin-top: 0px;
   margin-left: 15px;
   margin-right: 15px;
   padding: 10px 100px 10px 10px;
   border-radius: 5px;
   background-color: black;
   color: white;
   font-size: 1rem; /* ~16px */
   font-family: "Roboto", "Arial", sans-serif;
}

.summaryGood ul, .summaryBad ul
{
   margin-top: 0px;
   margin-bottom: 10px;
   margin-left: 20px;
   padding-left: 20px;
}

.summaryGood li, .summaryBad li
{
   font-size: 1rem; /* ~16px */
   font-family: "Roboto", "Arial", sans-serif;
   list-style: none;
   padding-bottom: 5px;
}

.summaryGood li:before, .summaryBad li:before
{
   content: "\0025B6";
   display: inline-block;
   width: 1rem;
   margin-left: -1rem;
   margin-right: 0.25rem;
}

/* Style for bottom of segment (previous and next section) */

.segmentBottomLeft
{
   float: left;
   width: 50%;
}

.segmentBottomRight
{
   float:right;
   width: 50%;
}

/* Container for keywords. */

#articleKeywords
{
   position: relative;
   text-align: center;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   background: none;
   margin-top: 20px;
   margin-bottom: 0px;
   margin-right: 10px;
   margin-left: 10px;
   line-height: 170%;
   color: black;
   padding: 5px;
}

#articleKeywords a
{
   display: inline-block;
   text-decoration: none;
   color: white;
   background-color: #646464; /* Default */
   border-radius: 8px;
   box-shadow: 0px 0px 3px 0px #646464;
   padding: 2px 12px;
   margin-right: 3px;
   margin-bottom: 5px;
}

#articleKeywords a:hover
{
   background-color: #c8c8c8; /* Default */
}

/* Article footer. */

#articleFooter
{
   background: none;
   margin: 20px;
   padding-bottom: 5px;
}

#articleFooterRight
{
   min-width: 300px;
   min-height: 110px;
   float: right;
   background-color: white;
   border-radius: 60px 10px 10px 60px;
   color: black;
   box-shadow: 0px 0px 2px 0px grey;
}

#footerDetails
{
   display: block;
   float: left;
}

#footerAuthor
{
   display: block;
   float: left;
   width: 100px;
   height: 100px;
   border-radius: 50px;
   margin: 5px;
}

#footerDetails p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   text-align: justify;
   padding: 0px;
   margin: 10px;
   line-height: 150%;
}

#footerDetails p a, #footerDetails p .editSegment
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   text-align: justify;
   text-decoration: none;
   color: #3475e5; /* Default if no "charter_..." side style sheet */
}

#footerDetails p a:hover, #footerDetails p .editSegment:hover
{
   color: black;
}

#footerDetails p .editSegment:hover
{
   cursor: pointer;
}

/* Style for the top-left corner, meant for opening/closing comments */

#commentsWrapper
{
   position: fixed;
   right: 0;
   top: 0;
   margin-top: 60px;
}

/* Style to use when there are no comments yet (just to display a "Comment" link) */

.beFirst
{
   display: inline-block;
   margin: 0px;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
   border-radius: 0px 0px 0px 5px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.25rem; /* ~20px */
}

.beFirst a
{
   text-decoration: none;
   color: white;
}

.beFirst a:hover
{
   color: #c8c8c8;
}

/* Style for the toggle button (a label in the HTML code) */

.toggleLabel
{
   display: inline-block;
   margin: 0px;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
   border-radius: 0px 0px 0px 5px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.25rem; /* ~20px */
   cursor: pointer;
   transition: transform 250ms ease-in-out;
}

.toggleLabel:hover
{
   background-color: rgba(0, 0, 0, 0.9);
}

/* Invisible checkbox (checked via .toggleLabel label above) for toggling the comments */

.toggleComments
{
   position: absolute;
   margin: 0px;
   border: 0px;
   width: 0px;
   height: 0px;
   opacity: 0;
}

/* Style for the slider itself */

#commentsSlider
{
   position: fixed;
   float: right;
   top: 0;
   right: 0;
   height: 100%;
   background-color: white;
   border-left: 2px solid rgba(0, 0, 0, 0.2);
   background-clip: padding-box;
   z-index: 19;
   overflow-x: auto;
   overflow-y: scroll;
   width: 576px;
   transform: translateX(+578px); /* +2px due to border */
   transition: transform 250ms ease-in-out;
}

#commentsSlider #commentsHeader h1
{
   margin: 70px 15px 0px 15px;
   padding: 0px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.375rem; /* ~22px */
   color: #383A49;
}

#commentsSlider #commentsHeader p
{
   margin: 15px;
   padding: 0px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   color: black;
}

#commentsSlider #commentsHeader p a
{
   text-decoration: none;
   color: #3475e5; /* Default if no "charter_..." side style sheet */
}

#commentsSlider #commentsHeader p a:hover
{
   color: #c8c8c8;
}

/* Toggling the slider and the label */

.toggleComments:checked ~ #commentsSlider
{
   transform: translateX(0px);
}

.toggleComments:checked ~ .toggleLabel
{
   transform: translateX(-576px);
}

/* Style for the comments being displayed */

.comment
{
   display: block;
   margin: 15px;
   background: none;
   border: none;
   padding: 0px;
}

.commentLeftColumn
{
   display: block;
   float: left;
   width: 30px;
   margin-right: 10px;
}

.commentAvatar
{
   width: 30px;
   height: 30px;
   border-radius: 5px;
}

.commentText
{
   display: block;
   overflow: hidden;
   width: auto;
   margin: 0px 0px 0px 10px;
   border: none;
   background: none;
}

.commentText h1
{
   color: black;
   margin: 5px 0px;
   padding: 0px;
   color: white;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
}

.commentText p
{
   margin: 0px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   padding: 10px 6px;
   text-align: justify;
}

.commentText .commentTextTop .commentAuthor
{
   display: inline-block;
   border-radius: 5px 0px 0px 5px;
   background-color: black;
   color: white;
   font-family: "Roboto", "Arial", sans-serif;
   margin: 0px;
   padding: 5px 10px;
}

.commentText .commentTextTop .commentAuthor a
{
   text-decoration: none;
   color: white;
   font-family: "Roboto", "Arial", sans-serif;
}

.commentText .commentTextTop .commentAuthor a:hover
{
   color: #3475e5; /* Default if no "charter_..." side style sheet */
}

.commentText .commentTextTop .commentDate
{
   display: inline-block;
   margin: 0px;
   padding: 5px 10px;
   background-color: #c8c8c8;
   border-radius: 0px 5px 5px 0px;
}

.commentText img, .commentText video
{
   max-width: 100%;
}

.commentText h2
{
   color: black;
   margin: 5px 0px;
   padding: 0px;
   color: white;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
}

.commentText ul 
{
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 25px;
}

.commentText li
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   text-align: justify;
   margin-top: 10px;
}

.commentText a
{
   text-decoration: none;
   color: #3475e5; /* Default if no "charter_..." side style sheet */
}

.commentText a:hover
{
   color: blue;
}

/* Style for bottom wrapper, which contains navigation elements. */

#bottomWrapper
{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 10;
   min-width: 800px;
}

#previousSegment, #segmentList, #nextSegment
{
   display: block;
}

#previousSegment
{
   float: left;
   min-width: 100px;
   min-height: 20px;
   width: 20%;
}

#segmentList
{
   float: left;
   width: 60%;
   text-align: center;
}

#nextSegment
{
   float: right;
   min-width: 100px;
   min-height: 20px;
   width: 20%;
   text-align: right;
}

#previousSegment p, #segmentList p, #nextSegment p
{
   display: inline-block;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   border-radius: 5px;
   font-family: "Roboto", "Arial", sans-serif;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 15px;
}

#previousSegment p, #nextSegment p
{
   font-size: 1.5rem; /* ~24px */
}

#previousSegment p:hover, #segmentList p:hover, #nextSegment p:hover
{
   background-color: rgba(0, 0, 0, 1.0);
}

#previousSegment p, #nextSegment p
{
   padding: 10px;
}

#segmentList p
{
   padding: 14px;
}

#previousSegment p a, #nextSegment p a
{
   text-decoration: none;
   color: white;
}

#previousSegment p a:hover, #nextSegment p a:hover
{
   color: grey;
}

#previousSegment p i, #nextSegment p i
{
   cursor: pointer;
}

#segmentList select
{
   font-size: 1rem; /* ~16px */
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   border: none;
}

#footer
{
   margin-bottom: 75px;
}
