/* Style for articles */
:root {
   --animation-scroll-threshold-position: 500px;
}

.articleSegment
{
   background-color: white;
   border-radius: 5px;
   margin: 20px var(--root-side-margin);
   padding-bottom: 5px;
   box-shadow: 0px 0px 2px 0px grey;
}

.segmentHeader, .articleHeader
{
   position: relative;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;

   .infos {
      width: fit-content;
      padding-top: 10px;
      background-color: rgba(0, 0, 0, 0.75);
      border-top-right-radius: var(--border-radius);
      color: white;
      z-index: 1;
      background-color: rgb(from var(--current-page-color) r g b / 75%);

      &:hover
      {
         background-color: rgb(from var(--current-page-color) r g b / 85%);
      }
   }

   .title {
      font-size: 1.5rem; /* ~30px */
      animation-name: extensibleHeaderTitle;
      @media screen and (width >= 1024px) {
         font-size: 1.75rem;
      }
      font-weight: 200;
      background: none;
      padding: 0px;
      margin: 0px 20px 10px 20px;
   }

   .subtitle {
      font-size: 1.05rem; /* ~24px */
      animation-name: extensibleHeaderSubtitle;
      @media screen and (width >= 1024px) {
         font-size: 1.15rem;
      }
      font-weight: 200;
      text-align: justify;
      background: none;
      padding: 0px;
      margin: -5px 20px 10px 20px;
   }
}

.segmentHeaderPlain
{
   border-radius: 5px 5px 0px 0px;
   background-color: white;
   padding-top: 20px;
   padding-bottom: 5px;
}

.segmentHeader .segmentHeaderBottom
{
   position: absolute;
   bottom: 0;
   left: 0;
   padding-top: 10px;
   background-color: rgba(0, 0, 0, 0.75);
   border-radius: 0px 5px 0px 0px;
   /* border-top: 1px solid #646464; */
   /* border-right: 1px solid #646464; */
}

.segmentHeader .segmentHeaderBottom:hover
{
   background-color: rgba(0, 0, 0, 0.85);
}

.segmentHeader h1, .segmentHeaderPlain h1
{
   font-size: 1.875rem; /* ~30px */
   font-weight: 200;
   text-align: justify;
   background: none;
   padding: 0px;
}

.segmentHeader h2, .segmentHeaderPlain h2
{
   font-size: 1.5rem; /* ~24px */
   font-weight: 200;
   text-align: justify;
   background: none;
   padding: 0px;
}

.segmentHeader h1
{
   margin: 0px 20px 10px 20px;
}

.segmentHeader h2
{
   margin: -5px 20px 10px 20px;
}

.segmentHeader h1, .segmentHeader h2
{
   color: white;
}

.segmentHeaderPlain {
   &:is(h1, h2) {
      color: black;
   }

   h1 {
      margin: 0px 20px 0px 20px;
   }

   h2 {
      margin: 0px 20px 0px 20px;
   }
}

.segmentBody {
   p {
      font-size: 1rem; /* ~16px */
      text-align: justify;
      padding:  7px;
      margin: 5px 10px 5px 10px;

      a {
         font-size: 1rem; /* ~16px */
         /* text-align: justify; */

         &:is(:hover, :focus)
         {
            color: black; /* Default if no "charter_..." side style sheet */
         }
      }
   }

   a {
      text-decoration: none;
      color: var(--link-color); /* Default if no "charter_..." side style sheet */
   }

   h2
   {
      margin: 7px 7px 4px 7px;
      font-size: 1.25rem; /* ~20px */
      padding: 10px;
      text-align: justify;
      color: var(--current-page-color);

      &::before {
         content: "\0025B6\00a0";
      }

      a:is(:hover, :focus) {
         color: #646464; /* Default if no "charter_..." side style sheet */
      }
   }

   img, video {
      max-width: 100%;
   }

   ul {
      margin-top: 0px;
      margin-bottom: 10px;
      margin-left: 20px;
      padding-left: 20px;
   }

   li
   {
      font-size: 1rem; /* ~16px */
      list-style: none;
      padding-bottom: 5px;
      padding-right: 10px;

      &::before
      {
         content: "\0025B6";
         display: inline-block;
         width: 1rem;
         margin-left: -1rem;
      }
   }
}

/* Emphasis (quote) style */

.emphasis
{
   margin-top: 20px;
   clear: both;

   .emphasisWithin
   {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      margin: 0;
   }

   p
   {
      padding: 50px;
      display: block;
      text-align: center;
      font-size: 1.625rem; /* ~26px */
      font-weight: bold;
      text-shadow: 1px 1px 2px black;
      margin: 0;
   }
}

/* Emphasis (block) style */

.emphasisText
{
   margin: 15px;
   clear: both;
   background-color: black;
   color: white;
   border-radius: 5px;
   padding-bottom: 5px;
}

.emphasisText h3
{
   background: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.25rem; /* ~20px */
   font-weight: bold;
   margin: 0px;
   padding-left: 17px;
   padding-right: 17px;
   padding-top: 10px;
}

.emphasisText h3::before
{
   content: "\0025B6\00a0";
}

.segmentBody .emphasisText p a
{
   color: #3475e5; /* Default if no "charter_..." side style sheet */
}

.segmentBody .emphasisText p a:is(:hover, :focus)
{
   color: #c8c8c8;
}

/* Summary style  */

.summary
{
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   justify-content: space-between;
   margin-top: 1rem;

   @media screen and (width >= 1024px) {
      flex-direction: row;
   }
}

:is(.summaryGood, .summaryBad) {
   ul {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 20px;
      font-size: 1rem;
      list-style: none;
   }

   h3 {
      display: inline-block;
      margin-top: 0px;
      margin-right: 15px;
      padding: 10px 100px 10px 10px;
      border-radius: 5px;
      background-color: black;
      color: white;
      font-size: 1rem; /* ~16px */
      border: 2px solid var(--current-page-color);
   }

   li {
      padding-bottom: 5px;
      &::before
      {
         content: "\0025B6";
         font-variant-emoji: text;
         display: inline-block;
         width: 1rem;
         margin-left: -1rem;
         margin-right: 0.25rem;
         color: var(--current-page-color);
      }
   }
}

.conclusion {
   clear: both;
   background-color: rgb(from var(--current-page-color) r g b / 10%);
   color: rgb(19, 19, 19);
   border-radius: 5px;
   padding-bottom: 5px;
   border: 2px solid var(--current-page-color);
   padding: 10px 17px;
   margin-block: 1rem;

   .title {
      margin-top: 0;
      margin-inline: 0;
      font-size: 1.25rem;

      &::before {
         content: "\0025B6\00a0";
         color: var(--current-page-color);
      }
   }

   p {
      text-align: justify;
      margin-block: 0.5rem;
   }
}

/* Container for keywords. */

#articleKeywords
{
   position: relative;
   text-align: center;
   font-size: 1rem; /* ~16px */
   background: none;
   margin-top: 20px;
   margin-bottom: 0px;
   margin-right: 10px;
   margin-left: 10px;
   line-height: 170%;
   color: black;
   padding: 5px;
}

#articleKeywords a
{
   display: inline-block;
   text-decoration: none;
   color: white;
   background-color: #646464; /* Default */
   border-radius: 8px;
   box-shadow: 0px 0px 3px 0px #646464;
   padding: 2px 12px;
   margin-right: 3px;
   margin-bottom: 5px;
}

#articleKeywords a:hover
{
   background-color: #c8c8c8; /* Default */
}

/* Article footer. */

.authorContainer
{
   background: none;
   margin-block: 1.25rem;
   padding-bottom: 5px;
   display: flex;
   justify-content: flex-end;
}

.articleContainer
{
   min-width: 300px;
   min-height: 110px;
   background-color: white;
   border-radius: 60px var(--border-radius) var(--border-radius) 60px;
   color: black;
   box-shadow: 0px 0px 2px 0px grey;
   display: flex;
   gap: 0.25rem;
   padding: 0.3125rem;

   .authorPicture
   {
      width: 100px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      border: 2px solid var(--current-page-color);
      transition: background-size 350ms;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100%;

      &:hover {
         background-size: 110%;
      }
   }
}

#footerDetails p
{
   font-size: 0.875rem; /* ~14px */
   padding: 0px;
   margin: 10px;
   line-height: 150%;
}

#footerDetails p a, #footerDetails p .editSegment
{
   font-size: 0.875rem; /* ~14px */
   text-align: justify;
   text-decoration: none;
   color: #3475e5; /* Default if no "charter_..." side style sheet */
}

#footerDetails p a:hover, #footerDetails p .editSegment:hover
{
   color: black;
}

#footerDetails p .editSegment:hover
{
   cursor: pointer;
}

/* Style for the top-left corner, meant for opening/closing comments */

#commentsWrapper
{
   position: fixed;
   right: 0;
   top: 0;
   margin-top: 60px;
}

/* Style to use when there are no comments yet (just to display a "Comment" link) */

.beFirst
{
   display: inline-block;
   margin: 0px;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
   border-radius: 0px 0px 0px 5px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.25rem; /* ~20px */
}

.beFirst a
{
   text-decoration: none;
   color: white;
}

.beFirst a:hover
{
   color: #c8c8c8;
}

/* Style for the toggle button (a label in the HTML code) */

.toggleLabel
{
   display: inline-block;
   margin: 0px;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
   border-radius: 0px 0px 0px 5px;
   font-size: 1.25rem; /* ~20px */
   cursor: pointer;
   transition: transform 250ms ease-in-out;
}

.toggleLabel:hover
{
   background-color: rgba(0, 0, 0, 0.9);
}

/* Invisible checkbox (checked via .toggleLabel label above) for toggling the comments */

.toggleComments
{
   position: absolute;
   margin: 0px;
   border: 0px;
   width: 0px;
   height: 0px;
   opacity: 0;
}

/* Style for the slider itself */

#commentsSlider
{
   position: fixed;
   float: right;
   top: 0;
   right: 0;
   height: 100%;
   background-color: white;
   border-left: 2px solid rgba(0, 0, 0, 0.2);
   background-clip: padding-box;
   z-index: 19;
   overflow-x: auto;
   overflow-y: scroll;
   width: 576px;
   transform: translateX(+578px); /* +2px due to border */
   transition: transform 250ms ease-in-out;
}

#commentsSlider #commentsHeader h1
{
   margin: 70px 15px 0px 15px;
   padding: 0px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.375rem; /* ~22px */
   color: #383A49;
}

#commentsSlider #commentsHeader p
{
   margin: 15px;
   padding: 0px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   color: black;
}

#commentsSlider #commentsHeader p a
{
   text-decoration: none;
   color: #3475e5; /* Default if no "charter_..." side style sheet */
}

#commentsSlider #commentsHeader p a:hover
{
   color: #c8c8c8;
}

/* Toggling the slider and the label */

.toggleComments:checked ~ #commentsSlider
{
   transform: translateX(0px);
}

.toggleComments:checked ~ .toggleLabel
{
   transform: translateX(-576px);
}

/* Style for the comments being displayed */

.comment
{
   display: block;
   margin: 15px;
   background: none;
   border: none;
   padding: 0px;
}

.commentLeftColumn
{
   display: block;
   float: left;
   width: 30px;
   margin-right: 10px;
}

.commentAvatar
{
   width: 30px;
   height: 30px;
   border-radius: 5px;
}

.commentText
{
   display: block;
   overflow: hidden;
   width: auto;
   margin: 0px 0px 0px 10px;
   border: none;
   background: none;
}

.commentText h1
{
   color: black;
   margin: 5px 0px;
   padding: 0px;
   color: white;
   font-size: 1rem; /* ~16px */
}

.commentText p
{
   margin: 0px;
   font-size: 0.875rem; /* ~14px */
   padding: 10px 6px;
   text-align: justify;
}

.commentText .commentTextTop .commentAuthor
{
   display: inline-block;
   border-radius: 5px 0px 0px 5px;
   background-color: black;
   color: white;
   margin: 0px;
   padding: 5px 10px;
}

.commentText .commentTextTop .commentAuthor a
{
   text-decoration: none;
   color: white;
}

.commentText .commentTextTop .commentAuthor a:hover
{
   color: #3475e5; /* Default if no "charter_..." side style sheet */
}

.commentText .commentTextTop .commentDate
{
   display: inline-block;
   margin: 0px;
   padding: 5px 10px;
   background-color: #c8c8c8;
   border-radius: 0px 5px 5px 0px;
}

.commentText img, .commentText video
{
   max-width: 100%;
}

.commentText h2
{
   color: black;
   margin: 5px 0px;
   padding: 0px;
   color: white;
   font-size: 1rem; /* ~16px */
}

.commentText ul
{
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 25px;
}

.commentText li
{
   font-size: 0.875rem; /* ~14px */
   text-align: justify;
   margin-top: 10px;
}

.commentText a
{
   text-decoration: none;
   color: #3475e5; /* Default if no "charter_..." side style sheet */
}

.commentText a:hover
{
   color: blue;
}

/* Style for bottom wrapper, which contains navigation elements. */

#bottomWrapper
{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 10;
   min-width: 800px;
}

#previousSegment, #segmentList, #nextSegment
{
   display: block;
}

#previousSegment
{
   float: left;
   min-width: 100px;
   min-height: 20px;
   width: 20%;
}

#segmentList
{
   float: left;
   width: 60%;
   text-align: center;
}

#nextSegment
{
   float: right;
   min-width: 100px;
   min-height: 20px;
   width: 20%;
   text-align: right;
}

#previousSegment p, #segmentList p, #nextSegment p
{
   display: inline-block;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   border-radius: 5px;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 15px;
}

#previousSegment p, #nextSegment p
{
   font-size: 1.5rem; /* ~24px */
}

#previousSegment p:hover, #segmentList p:hover, #nextSegment p:hover
{
   background-color: rgba(0, 0, 0, 1.0);
}

#previousSegment p, #nextSegment p
{
   padding: 10px;
}

#segmentList p
{
   padding: 14px;
}

#previousSegment p a, #nextSegment p a
{
   text-decoration: none;
   color: white;
}

#previousSegment p a:hover, #nextSegment p a:hover
{
   color: grey;
}

#previousSegment p i, #nextSegment p i
{
   cursor: pointer;
}

#segmentList select
{
   font-size: 1rem; /* ~16px */
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   border: none;
}

#footer
{
   margin-bottom: 75px;
}

.articleContent {
   padding-block: 1px 5px;
   padding-inline: 1.25rem;
   box-shadow: 0px 0px 2px 0px grey;
   @supports (animation-timeline: scroll()) {
      @media screen and (height >= 640px) {
      margin-top: 200px;
         @media screen and (width >= 640px) {
            margin-top: 300px;
         }
      }
   }

   background-color: white;
   border-bottom-left-radius: var(--border-radius);
   border-bottom-right-radius: var(--border-radius);

   h2 {
      font-size: 1.25rem;
      padding: 10px;
      padding-left: 0;
      padding-bottom: 0;
      text-align: justify;
      margin-top: 1.25rem;
      margin-bottom: 0;
      color: var(--current-page-color, black);

      &::before {
         content: "\0025B6\00a0";
      }
   }
}

.navigationPage {
   clear: both;
   > ul {
      display: grid;
      grid-template-columns: 1fr;
      @media screen and (width >= 640px) {
         grid-template-columns: repeat(3, 1fr);
      }
      list-style: none;
      padding: 0;
      margin-top: 1.5rem;

      :nth-child(2) {
         justify-self: center;
         align-self: center;
         position: relative;
      }

      :last-child {
         justify-self: end;
      }
   }

   .navigationLink {
      display: inline-flex;
      align-items: center;
      gap: 0.75rem;

      &:is(:hover, :focus) {
         text-decoration: none;
      }
   }
}

   #chapitrage {
      padding: 0;
      padding-bottom: 0.85rem;
      border-color: var(--current-page-color);
      border-radius: var(--border-radius);
      background-color: white;

      &::backdrop {
         background-color: transparent;
      }

      ol {
         padding-inline: 0.85rem;
         padding-left: 2.5rem;
         margin-bottom: 0;
      }

      li.active {
         font-weight: bold;
         &::marker {
            color: oklch(from var(--current-page-color) calc(l * .75) c h);
            font-weight: bold;
         }

         a {
             color: black!important;
         }
      }

      .header {
         display: flex;
         flex-direction: row;
         align-items: center;
         padding: 0.5rem 1.25rem;
         background-color: rgb(from var(--current-page-color) r g b / 50%);
         margin-bottom: 0.75rem;
         color: black;
         gap: 2rem;

         p {
            margin: 0;
         }
      }

      .close {
         font-size: 1rem;
         padding: 0;
         background-color: transparent;
         margin-left: auto;
         color: black;

         &:is(:focus, &:hover) {
            color: oklch(from var(--current-page-color) calc(l * .5) c h);
         }
      }
   }

@supports (animation-timeline: scroll()) {
   @media screen and (height >= 640px) {
      .extensibleHeaderWrapper {
         position: fixed;
         left: 0;
         right: 0;
         animation-name: extensibleHeaderWrapper;
         z-index: 99;
      }
   }
}

.extensibleHeaderWrapper, .extensibleHeader, .extensibleHeader::before, .articleHeader .title, .articleHeader .subtitle {
   @supports (animation-timeline: scroll()) {
      animation-timeline: scroll();
      animation-range: 0 var(--animation-scroll-threshold-position);
      animation-timing-function: linear;
      animation-fill-mode: both;
   }
}

.extensibleHeader {
   border-radius: var(--border-radius) var(--border-radius) 0px 0px;
   background-color: rgb(255, 255, 255);
   max-width: var(--content-max-width);
   top: 0;
   margin: 0 auto;
   height: 200px;
   @media screen and (width >= 640px) {
      height: 300px;
   }

   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   box-shadow: 0px 0px 2px 0px grey;
   position: relative;
   overflow: clip;

   &::before {
      content: "";
      display: block;
      background-color: rgb(26, 26, 26);
      position: absolute;
      opacity: 0;
      inset: 0;
      animation-name: extensibleHeaderBefore;
   }

   @supports (animation-timeline: scroll()) {
      animation: extensibleHeader linear forwards;
      animation-timeline: scroll();
      animation-range: 0 var(--animation-scroll-threshold-position);
   }
}

@keyframes extensibleHeader {
  to {
      border-radius: 0;
      height: 5.25rem;
      max-width: 100%;
      box-shadow: 0 2px 3px 0px #646464a9;
  }
}

@keyframes extensibleHeaderWrapper {
  to {
      margin-top: calc(var(--article-header-padding-top) * -1);
      margin-inline: 0;
  }
}

@keyframes extensibleHeaderBefore {
  to {
      opacity: 0.5;
  }
}

@keyframes extensibleHeaderTitle {
  to {
      margin-bottom: 0;
      font-size: 1.25rem;
      @media screen and (width >= 1024px) {
         font-size: 1.5rem;
         margin-bottom: 0;
      }
  }
}

@keyframes extensibleHeaderSubtitle {
  to {
      font-size: 0.95rem;
      @media screen and (width >= 1024px) {
         font-size: 1rem;
      }
  }
}

.listKeywords {
   display: flex;
   justify-content: center;
   gap: 0.5rem;
   padding: 0;
   list-style: none;
   max-width: 80%;
   flex-wrap: wrap;

   .keyword {
      box-shadow: 0px 0px 3px 0px #646464;
      padding: 2px 12px;
      display: inline-block;
      text-decoration: none;
      border-radius: 8px;
      /* color: white; */
   }
}

.toolbar {
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 10px 20px 10px 20px;
   background-color: transparent;
   border-top-left-radius: var(--border-radius);
   display: flex;
   flex-direction: column;
   gap: 0.5rem;

   &.top {
      top: 0;
   }

   a {
      color: white;
   }
}

.buttonShare {
   border: 2px solid var(--current-page-color);
   background-color: rgba(0, 0, 0, 0.861);

   @media screen and (width >= 1024px) {
      right: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
   }

   &:is(:hover, :focus) {
      background-color: oklch(from var(--current-page-color) calc(l * .75) c h);
   }
}

.articleFooter
{
   display: flex;
   align-items: center;
   flex-direction: column;
   position: relative;
   margin-top: 0.65rem;
}

.summaryButtonTop
{
   position: absolute;
   left: 50%;
   translate: -50% 0;
   top: 5px;
   z-index: 9;
}
