/* Additional style for article edition pages, consisting of several blocks (.articleEditBlock) */

#blockSequence 
{
   margin: auto;
   width: 70%;
   min-width: 800px;
   padding-top: 20px;
}

#fullWidthSequence
{
   width: 100%;
   min-width: 800px;
   padding: 0px;
   margin: 0px;
}

/* Main block style */

.articleEditBlock
{
   background-color: white;
   border-radius: 5px;
   margin: 20px;
   padding-bottom: 5px;
   box-shadow: 0px 0px 3px 0px black;
}

.articleEditBlock p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: justify;
   padding:  7px;
   margin: 5px 10px 5px 10px;
}

.articleEditBlock h1
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.25rem; /* ~20px */
   font-weight: normal;
   text-align: justify;
   color: white;
   background-color: black;
   border-radius: 5px 5px 0px 0px;
   padding: 7px 17px;
}

.articleEditBlock p a
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: justify;
   text-decoration: none;
   color: #3475e5;
}

.articleEditBlock p a:hover
{
   color: black;
}

.articleEditBlock .moveUp, .articleEditBlock .moveDown, .articleEditBlock .editSegment, .articleEditBlock .deleteSegment
{
   cursor: pointer;
   vertical-align: -15%;
}

/* Table style (for segments list) */

.articleEditBlock table
{
   min-width: 700px;
   width: 100%;
   margin-top: 0px;
   margin-bottom: 10px;
   background: none;
   border: none;
   border-collapse: collapse;
   border-spacing: 10px;
   margin: 5px 10px 15px 10px;
}

.articleEditBlock td
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: justify;
   padding: 7px;
}

.articleEditBlock td a
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: justify;
   text-decoration: none;
   color: #3475e5;
}

.articleEditBlock td a:hover
{
   color: black;
}

.articleEditBlock td p
{
   font-size: 1.25rem; /* ~20px */
   margin: 0px;
   padding: 0px;
}

.articleEditBlock .extendedFormatButton
{
   padding: 6px 6px 4px 6px;
   background-color: #00B53C;
   color: white;
   font-size: 1.25rem; /* ~20px */
   border-radius: 3px;
   cursor: pointer;
}

.articleEditBlock .extendedFormatButton:hover
{
   background-color: #557083;
}

.articleEditBlock .articlePublish
{
   background-color: #59A859;
}

.articleEditBlock .articleDelete
{
   background-color: #B53A3E;
}

.articleEditBlock .articlePublish:hover, .articleEditBlock .articleDelete:hover
{
   background-color: #557083;
   cursor: pointer;
}

/* Override of the default sizes for preview zones */

.articleEditBlock #editableZone textarea
{
   height: 300px;
}

.articleEditBlock #previewFrame
{
   height: 292px;
}

/* Style for header preview */

#previewHeader
{
   cursor: pointer;
}

/* Style for uploads menu */

.uploadsView, .previousUploadsView
{
   padding: 3px 10px;
}

.uploadView
{
   position: relative;
   float: left;
   margin: 0px 0px 6px 6px;
   background: none;
   border: 1px solid #c8c8c8;
   border-radius: 0px;
}

.uploadView a
{
   display: block;
   height: 100%;
   width: 100%;
   text-decoration: none;
}

.uploadView video, .uploadView img
{
   display: block;
   padding: 0px;
   margin: 0px;
}

/* Top part of a thumbnail */

.uploadViewTop
{
   position: absolute;
   z-index: 2;
}

.uploadViewTop img
{
   display: inline;
   margin: 0px;
   padding: 0px 2px;
   vertical-align: -10%;
}

.uploadViewTop a
{
   text-decoration: none;
   display: inline;
}

.uploadViewIcons
{
   float: right;
   margin: 0px;
   padding: 7px 5px;
   border-radius: 0px 0px 5px 0px;
   background-color: black;
   opacity: 0.8;
   display: inline-block;
}

.uploadViewIcons i
{
   color: white;
   padding-left: 3px;
   padding-right: 3px;
   font-size: 1rem; /* ~16px */
}

.uploadViewIcons:hover
{
   opacity: 1.0;
}

.uploadViewIcons img:hover
{
   cursor: pointer;
}
