.categoriesContainer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 3rem;
   margin-inline: var(--root-side-margin);

   .listCategories {
      list-style: none;
      flex-direction: row;
      gap: 0.25rem;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      display: none;
      @media screen and (width > 768px) {
         display: flex;
      }
   }

   .dropdownCategories {
      display: revert;
      @media screen and (width > 768px) {
         display: none;
      }
   }

   a {
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 0.875rem; /* ~14px */
      border: none;
      box-shadow: 0px 0px 2px 0px black;
      border: 2px solid transparent;
   }

   .prettyLink {
      color: rgb(53, 53, 53);
      display: block;
      position: relative;
      background-color: currentColor;
      transition: background-color var(--transition-time);

      &:is(:focus, :hover) {
         background-color: oklch(from currentColor calc(l * 0.6) c h);
      }

      &.active {
         border-color: currentColor;
         background-color: oklch(from currentColor calc(l * 0.4) c h);

         &::after {
            position: absolute;
            content: "";
            display: block;
            width: 10px;
            aspect-ratio: 1;
            background-color: currentColor;
            top: 0;
            transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
            left: 50%;
            z-index: -1;
         }
      }

      span {
         color: white;
      }
   }

   .filterLink {
      display: flex;
      align-self: flex-start;
      gap: 0.5rem;
      margin-left: 2rem;
      color: var(--link-color);

      &:is(:focus, :hover) {
         background-color: oklch(from currentColor calc(l * 0.6) c h);

         span {
            color: white;
         }

         svg {
            fill: white;
         }
      }

      svg {
         aspect-ratio: 1;
         width: 1rem;
      }
   }
}
