/**
* This style sheet overrides some properties of article.css to make it comply with the color 
* associated to a misceallenous article ("Hors Jeu", added in September 2023).
*
* Important remark: though the original charter anticipated the shades of grey #646464 (100 
* everywhere) and #c8c8c8 (200 everywhere), the first shade was too dark to be easily 
* distinguishable  and the second too light, so the average of both was picked instead.
*/

.mainMenuLogo.misc
{
   background-image: url('https://www.jeuxredige.com/logos/JeuxRedige_logo_h_white_misc.svg');
}

.segmentHeader .segmentHeaderBottom
{
   background-color: rgba(150, 150, 150, 0.75); /* 200,200,200 is a bit too clear */
}

.segmentHeader .segmentHeaderBottom:hover
{
   background-color: rgba(150, 150, 150, 0.85);
}

.segmentBody p a
{
   color: #969696;
}

.segmentBody p a:hover
{
   color: black;
}

.segmentBody h2
{
   color: #969696;
}

.segmentBody h2 a
{
   color: #black;
}

.segmentBody h2 a:hover
{
   color: #646464;
}

.segmentBody .quotation, .segmentBody .spoiler
{
   border-left: 2px solid #969696;
}

.segmentBody .emphasisText
{
   background-color: #969696;
}

.segmentBody .emphasisText p a
{
   color: #646464;
}

.segmentBody .emphasisText p a:hover
{
   color: white;
}

.segmentBody .summary h3
{
   background-color: #969696;
}

.segmentBody li:before, .summaryGood li:before, .summaryBad li:before
{
   color: #969696;
}

#footerDetails p a, #footerDetails p .editSegment
{
   color: #969696;
}

#footerDetails p a:hover, #footerDetails p .editSegment:hover
{
   color: black;
}

#commentsSlider #commentsHeader p a
{
   color: #969696;
}

#commentsSlider #commentsHeader p a:hover
{
   color: #969696;
}

.commentText .commentTextTop .commentAuthor a:hover
{
   color: #969696;
}

.commentText a
{
   color: #969696;
}

.commentText a:hover
{
   color: blue;
}

.commentText .quotation, .commentText .spoiler
{
   border-left: 2px solid #969696;
}