/**
* This style sheet overrides some properties of article.css to make it comply with the color 
* associated to a chronicle (2021 graphical charter).
*/

.segmentHeader .segmentHeaderBottom
{
   background-color: rgba(153, 54, 139, 0.75);
}

.segmentHeader .segmentHeaderBottom:hover
{
   background-color: rgba(153, 54, 139, 0.85);
}

.segmentBody p a
{
   color: #99368b;
}

.segmentBody p a:hover
{
   color: black;
}

.segmentBody h2
{
   color: #99368b;
}

.segmentBody h2 a
{
   color: #black;
}

.segmentBody h2 a:hover
{
   color: #646464;
}

.segmentBody .quotation, .segmentBody .spoiler
{
   border-left: 2px solid #99368b;
}

.segmentBody .emphasisText
{
   background-color: #99368b;
}

.segmentBody .emphasisText p a
{
   color: black;
}

.segmentBody .emphasisText p a:hover
{
   color: #c8c8c8;
}

.segmentBody .summary h3
{
   background-color: #99368b;
}

.segmentBody li:before, .summaryGood li:before, .summaryBad li:before
{
   color: #99368b;
}

#footerDetails p a, #footerDetails p .editSegment
{
   color: #99368b;
}

#footerDetails p a:hover, #footerDetails p .editSegment:hover
{
   color: black;
}

#commentsSlider #commentsHeader p a
{
   color: #99368b;
}

#commentsSlider #commentsHeader p a:hover
{
   color: #c8c8c8;
}

.commentText .commentTextTop .commentAuthor a:hover
{
   color: #99368b;
}

.commentText a
{
   color: #99368b;
}

.commentText a:hover
{
   color: blue;
}

.commentText .quotation, .commentText .spoiler
{
   border-left: 2px solid #99368b;
}