/* Roboto font */

@font-face
{
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachement: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

:root {
   --link-hover-opacity: 0.5;
   --top-menu-width: 1200px;
   --content-max-width: 1200px;
   --transition-time: 0.3s;
   --root-side-margin: max(env(safe-area-inset-right), 0.75rem);
}

html {
   scroll-behavior: smooth;

   &:has(dialog[open]) {
      overflow: hidden;
      scrollbar-gutter: stable;
   }
}

/* Main CSS file. */

body
{
   background-color: white;
   color: black;
   margin: 0px 0px 0px 0px;
   font-family: "Roboto", "Arial", sans-serif;
}

.hiddenSmallerThanMobile {
   display: none;
   @media screen and (width > 640px) {
      display: revert;
   }
}

.hiddenSmallerThanTablet {
   display: none;
   @media screen and (width > 768px) {
      display: revert;
   }
}

/* Main block, i.e., part below the upper menu */

#main
{
   max-width: var(--content-max-width);
   margin: auto;
   width: 100%;
}


/* Sub-classes to remove colored border for the first elements of the top menu */

.mainMenuItem.borderless, .mainMenuItem.iconBox.borderless
{
   padding-right: 10px;
   border-right: none;
}


#userCorner .avatarMini
{
   height: 40px;
   width: 40px;
   padding: 0px;
   border-radius: 50%;
}

#userCorner i
{
   display: inline-block;
   font-size: 1.625rem; /* ~26px */
   color: white;
   margin: 0px 10px 0px 0px;
   vertical-align: -10%;
}

/* Sliding menus (user menu, pings, login form) */

.userMenu, .pingsSlider
{
   position: fixed;
   float: right;
   right: 0;
   top: 0;
   height: 100%;
   border-left: 1px solid #646464;
   overflow: auto;
   box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.75);
   z-index: 30;
}

.userMenu
{
   width: 300px;
   background-color: black;
   color: white;
   transform: translateX(+310px);
   transition: transform 250ms ease-in-out;
}

.pingsSlider
{
   width: 350px;
   background-color: white;
   color: #3475e5;
   transform: translateX(+360px);
   transition: transform 250ms ease-in-out;
}

.headerSlider {
   display: flex;
   align-items: center;
   width: 100%;

   label {
      display: inline-block;
      width: 25px;
      aspect-ratio: 1;
      transition: color var(--transition-time);

      &:hover, &:focus {
         color: oklch(from currentColor calc(l * .65) c h);;
      }
   }
}

.userMenuToggle, .pingsToggle, .loginToggle
{
   position: absolute;
   z-index: 31;
   margin: 0px;
   cursor: pointer;
   opacity: 0;
}



.userMenuToggle
{
   left: -9999px;
}

.pingsToggle
{
   left: -9999px;
}


/* Transformations upon checking the hidden checkboxes */

.userMenuToggle:checked ~ .userMenu
{
   transform: translateX(0px);
}

.userMenuToggle:checked ~ .icon-general_menu
{
   transition: opacity 250ms ease-in-out;
   opacity: 0.5;
}

.pingsToggle:checked ~ .pingsSlider
{
   transform: translateX(0px);
}

.pingsToggle:checked ~ .icon-general_messages
{
   transition: opacity 250ms ease-in-out;
   opacity: 0.5;
}

.loginToggle:checked ~ .loginSlider
{
   transform: translateX(0px);
}

.loginToggle:checked ~ .loginToggleUnderlay
{
   transition: opacity 250ms ease-in-out;
   opacity: 0.5;
}

/* Style for ul/li in the hamburger menus */

#userCorner .userMenu ul, #userCorner .pingsSlider ul
{
   display: block;
   border: none;
   margin: 0px 0px 0px 5px;
   padding: 0px 5px;
   text-align: left;
}

#userCorner .userMenu li, #userCorner .pingsSlider li
{
   list-style-type: none;
   display: block;
   margin-top: 0px;
   border: none;
   padding: 10px 10px 5px 5px;
   text-align: left;
   font-size: 1rem; /* ~16px */
}

#userCorner .userMenu i, #userCorner .pingsSlider i
{
   margin-right: 5px;
}

#userCorner li a
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-decoration: none;
   color: white;
}

#userCorner li a:hover
{
   color: #c8c8c8;
}

#userCorner li .adminLink
{
   color: #91c148;
}

/* N.B.: also used at LogIn.php. */

.connectionForm
{
   line-height: 2em;
}

/* Miscellaneous for the top bar (e.g., colors for pings slider) */

#userCorner h6 a
{
   text-decoration: none;
   color: white;
}

#userCorner h6 a:hover
{
   cursor: pointer;
   color: #00ffff;
}

#userCorner sup
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.75rem; /* ~12px */
   padding-left: 5px;
   color: #34b1e5;
}

#userCorner .pingsSlider li
{
   color: #3475e5;
}

#userCorner .pingsSlider a
{
   color: #3475e5;
}

#userCorner .pingsSlider a:hover
{
   color: black;
}

/* Border for all input text fields */

.plainBlock input[type=text], .plainBlock select
{
   border: 1px solid #DDDDDD;
}

/* Buttons at the end of forms. */

input[type=submit]
{
   background-color: #0c960c;
   color: white;
   padding: 5px 15px;
   border-radius: 4px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   border: none;
}

button, .customButton
{
   background-color: #646464;
   color: white;
   padding: 5px 15px;
   border-radius: 4px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   border: none;
}

input[type=submit]:hover
{
   background-color: #6ec46e;
   cursor: pointer;
}

button:hover, .customButton:hover
{
   background-color: #c8c8c8;
   cursor: pointer;
}

input[type=submit]:active, button:active, .customButton:active
{
   background-color: #c8c8c8;
}

/* Style for the dialog windows which can appear through the use of JavaScript (jQuery). */

/* Black transparent screen below the dialog. */

#blackScreen
{
   display: none;
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 50;
   background: rgba(0,0,0,0.4);
}

/*
* Small bubble located at a fixed position on the bottom left; it is notably used for loading times
* with slow AJAX requests and is "on top" of anything when displayed.
*/

#bubble
{
   display: none;
   position: fixed;
   bottom: 0;
   right: 0;
   margin-right: 20px;
   margin-bottom: 20px;
   padding: 10px;
   z-index: 150;
   background: rgba(255,255,255,0.5);
   border-radius: 5px;
}

#bubble:hover
{
   background: #FFFFFF;
}

/* Rotation of the loading icon */

@keyframes rotate
{
   0%
   {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
   }
   100%
   {
      transform: rotate(360deg);
      transform-origin: 50% 50%;
   }
}

#bubble p
{
   color: black;
   margin: 0px;
   padding: 0px;
   line-height: 0px;
   font-size: 1.875rem; /* ~30px */
   animation-name: rotate;
   animation-duration: 2.5s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

/* Dialog window itself. */

.window
{
   position: fixed;
   width: 450px; /* Can be edited by the calling code if needed. */
   top: 50%;
   left: 50%;
   margin-left: -225px;
   margin-top: -75px;
   background: white;
   border-radius: 4px;
   z-index: 100;
}

/* Upper part of the dialog window. */

.windowTop
{
   width: 100%;
   height: 30px;
   background: black;
   border-radius: 4px 4px 0 0;
}

/* Title of the dialog window. */

.windowTitle
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   float: left;
   color: white;
   margin-top: 5px;
   margin-left: 10px;
}

/* "Close" link. */

.closeDialog
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   float: right;
   color: grey;
   margin-top: 5px;
   margin-right: 10px;
   cursor: pointer;
}

.closeDialog:hover
{
   color: white;
}

/* Content of the window. */

.windowContent
{
   padding: 10px 5px 5px 10px;
   margin: 0px;
   color: black;
}

.windowContent p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   color: black;
}

/* Slight edition of submit to better fit the window. Otherwise, style is inherited from above. */

.windowContent input[type="submit"], .windowContent button
{
   font-size: 0.875rem; /* ~14px */
   float: right;
   margin-right: 5px;
}

/*
* Added in July 2017 to replace button in dialogs. Indeed, with a HTML5 button, there is a risk
* with the Enter key press that some hidden button is "clicked" (e.g., I press enter to submit a
* keyword, this also triggers the button in the (hidden) dialog window).
*/

.windowContent .triggerDialog
{
   background-color: black;
   color: white;
   padding: 5px 15px;
   border-radius: 4px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   border: none;
   float: right;
   margin-right: 5px;
}

.windowContent .triggerDialog:hover
{
   background-color: #557083;
   cursor: pointer;
}

.windowContent .triggerDialog:active
{
   background-color: grey;
}

.windowContent a
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   text-decoration: none;
   color: #155dc8;
}

.windowContent a:hover
{
   color: black;
}

/* Home-made progress bar, exclusively using CSS. */

.windowContent .progressBar
{
   display: block;
   margin: 0px;
   width: 422px;
   height: 20px;
   border-radius: 5px;
   background-color: grey;
   padding: 4px;
}

.windowContent .progressBar > span
{
   margin: 0px;
   padding: 0px;
   display: block;
   height: 100%;
   border-radius: 5px;
   background-color: #31F54B;
   box-shadow: inset 0 2px 4px rgba(255,255,255,0.3), inset 0 -2px 4px rgba(0,0,0,0.4);
}

/* Table style to align the different input fields within a dialog. */

.windowFields
{
   background: none;
   border: none;
   border-collapse: collapse;
   width: 433px;
}

.formLoginModal {
   overscroll-behavior-y: contain;
   box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.75);
   position: fixed;
   max-width: 90%;
   @media screen and (width > 640px) {
      max-width: 500px;
   }
   width: 100%;
   border-width: 1px;
   border-radius: 0.5rem;
   padding: 0;

   &::backdrop {
      background-color: rgba(33, 33, 33, 0.786);
   }

   .content {
      padding: 0 1rem 1rem;
   }

   .header {
      padding: 0.75rem 1rem;
      background-color: black;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   .title {
      font-weight: normal;
      font-size: 1rem;
      color: white;
      margin: 0;
      /* border-radius: 10px 10px 0px 0px; */
   }

   .closeModal {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      background-color: transparent;
      padding: 0;

      &:is(:hover, :focus) {
         opacity: var(--link-hover-opacity);
      }

      svg {
         flex-shrink: 0;
         width: 20px;
      }
   }

   .inputContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.75rem;

      input:is([type="text"], [type="password"]) {
         padding-block: 0.5rem;
      }
   }

   .loginLink {
      text-decoration: none;
      color: #3475e5;

      &:hover, &:focus {
         color: black;
      }
   }
}

/* Log in (connection) form. */

.connectionColumn1
{
   width: 90px;
   background: none;
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   color: black;
}

.connectionColumn2
{
   width: 193px;
   background: none;
   border: none;
}

.connectionColumn3
{
   width: 150px;
   background: none;
   border: none;
   padding-left: 5px;
}

/* Integrate form. */

.integrateColumn1
{
   width: 80px;
   background: none;
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   color: black;
}

.integrateColumn2
{
   width: 353px;
   background: none;
   border: none;
}

.integrateColumn3
{
   width: 223px;
   background: none;
   border: none;
}

.integrateColumn4
{
   width: 130px;
   background: none;
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   color: grey;
   padding-left: 5px;
}

.integrateColumn5
{
   width: 50px;
   background: none;
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   color: black;
}

.integrateColumn6
{
   width: 135px;
   background: none;
   border: none;
}

.integrateColumn7
{
   width: 248px;
   background: none;
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   color: grey;
   padding-left: 5px;
}

.emoticonDialColumn1
{
   width: 35px;
   background: none;
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   color: black;
}

.emoticonDialColumn2
{
   width: 268px;
   background: none;
   border: none;
}

.connectionColumn2 input[type=text], .connectionColumn2 input[type=password], .integrateColumn2 input[type=text],
.integrateColumn3 input[type=text], .integrateColumn6 input[type=text], .emoticonDialColumn2 input[type=text]
{
   width: 96%;
}

.integrateColumn2 select
{
   width: 98%;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
}

.integrateColumn3 select
{
   width: 96%;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
}

/* Color picking form. */

.colorPickColumn1
{
   width: 50px;
   background: none;
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   color: black;
}

.colorPickColumn2
{
   width: 353px;
   background: none;
   border: none;
}

.colorPickColumn3
{
   width: 40px;
   background: none;
   padding: 4px;
}

.colorPickColumn4
{
   width: 403px;
   background: none;
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   color: black;
   text-align: right;
   padding-right: 10px;
}

.colorPickColumn2 input[type=range], .colorPickColumn2 input[type=range]
{
   width: 96%;
}

.colorPickColumn3 .colorShow
{
   width: 30px;
   height: 0.875rem; /* ~14px */
   border: 1px solid #c8c8c8;
}

/* Upload form. */

.uploadColumn1
{
   width: 200px;
   background: none;
   border: none;
}

.uploadColumn2
{
   width: 233px;
   background: none;
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   color: grey;
}

/* Lightbox to show pictures. */

#lightbox
{
   position: fixed;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: white;
   border-radius: 2px;
   z-index: 100;
}

/* Content part of the lightbox. */

.lightboxContent
{
   padding: 5px;
   background: none;
}

/* Credits to Danielo for the next block, which guarantees lightbox always resizes nicely */

.lightboxContent img, .lightboxContent video
{
   max-width: 80vw;
   max-height: 80vh;
   object-fit: cover;
   display: block;
   margin: auto;
}

/* Content of the window. */

.lightboxBottom
{
   background: none;
   color: black;
}

.LBLeft
{
   display: block;
   float: left;
   width: 15%;
   min-height: 10px; /* Avoids a display bug when the box is empty. */
}

.LBCenter
{
   display: block;
   float: left;
   width: 70%;
}

.LBRight
{
   display: block;
   float: right;
   width: 15%;
}

.LBCenter input[type=text]
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.75rem; /* ~12px */
   color: black;
   margin-right: 5px;
}

.lightboxBottom p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.75rem; /* ~12px */
   color: black;
   margin: 0px;
   padding: 5px 0px 10px 0px;
}

.LBLeft p
{
   text-align: left;
   padding-left: 10px;
}

.LBCenter p
{
   text-align: center;
}
.LBRight p
{
   text-align: right;
   padding-right: 10px;
}

.lightboxBottom a
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.75rem; /* ~12px */
   text-decoration: none;
   color: #155dc8;
}

.lightboxBottom a:hover
{
   color: black;
}

/* Banner. */

#banner
{
   min-width: 802px;
   margin-top: 10px;
   margin-bottom: 10px;
}

#banner h1
{
   color: black;
   text-align: center;
   font-family:  "Roboto", "Arial", sans-serif;
   font-size: 3.125rem; /* ~50px */
}

#banner h1 a
{
   text-decoration: none;
   color: #155dc8;
}

#banner h1 a:hover
{
   color: black;
}

/* Style for titles inside the body outside any container */

.centeredTitle
{
   margin: auto;
   width: 350px;
   padding: 10px;
   background-color: black;
   color: white;
   border-radius: 5px;
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: center;
   margin-bottom: 30px;
   margin-top: 20px;
   box-shadow: 0px 0px 3px 0px #646464;
}

/* Body container for simple pages and topics */

#content
{
   margin: auto;
   /* min-width: 800px; */
   max-width: 1200px;
}

/* Single block to wrap forms, simple pages, etc. */

.wallOfText
{
   background-color: white;
   border-radius: 10px;
   padding-bottom: 5px;
   margin-top: 20px;
   box-shadow: 0px 0px 3px 0px #646464;
}

/* Variants (both container and wrapper block) for account edition only. */

#contentMultiple
{
   margin: auto;
   width: 800px;
   padding-top: 20px;
}

@media screen and (min-width: 1616px)
{
   #contentMultiple
   {
      margin: auto;
      width: 1616px;
      padding-top: 20px;
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
      -webkit-column-gap: 15px; /* Chrome, Safari, Opera */
      -moz-column-gap: 15px; /* Firefox */
      column-gap: 15px;
   }
}

.singleBlock
{
   display: inline-block;
   width: 800px;
   background-color: white;
   border-radius: 10px;
   margin-bottom: 15px;
   box-shadow: 0px 0px 3px 0px #646464;
}

/* Footer. */

#footer {
   margin-inline: auto;
   margin-block: 50px;
   background: none;
   color: black;
}

#footer p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: center;
}

#footer p .iconLink
{
   display: inline-block;
   text-decoration: none;
   color: white;
   background-color: black; /* Default */
   border-radius: 15px;
   padding: 7px 9px 5px 9px;
   margin-right: 3px;
   margin-bottom: 5px;
   box-shadow: 0px 0px 3px 0px #646464;
}

#footer p .iconLink:hover
{
   background-color: #646464;
}

#footer p a
{
   text-decoration: none;
   color: #3475e5;
   font-size: 1rem; /* ~16px */
}

#footer p a:hover
{
   color: black;
}

/* Footer is enlarged if possible TODO extensible */

@media screen and (min-width: 1200px)
{
   #footer { width: 1200px; }
}

/* Text style */

#content p, #contentMultiple p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: justify;
   padding: 7px;
   margin: 5px 10px 5px 10px; /* To not stick to the border of "wallOfText" */
}

/*
 * N.B.: there is no margin in h1 because h1 is supposed to stick to the top of a "wallOfText"
 * block. Moreover, there should be only one h1 per such a block and only at the beginning.
 */

#content h1, #contentMultiple h1
{
   font-family: "Roboto", "Arial", sans-serif;
   font-weight: normal;
   font-size: 1rem; /* ~16px */
   text-align: justify;
   color: white;
   background-color: black;
   border-radius: 10px 10px 0px 0px;
   padding: 7px 19px;
}

#contentMultiple .singleBlock h1
{
   margin-top: 0px;
   font-weight: normal;
}

/* Style of links inside the content div */

#content a, #contentMultiple a
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: justify;
   text-decoration: none;
   color: #155dc8;
}

#content a:hover, #contentMultiple a:hover
{
   color: black;
}

/* Style for a previewThumbnail container */

#content #previewThumbnail
{
   cursor: pointer;
}

/* Arrays for aligning input fields on some forms, such as connection or registration forms */

/* Dimensions are written in the HTML code */

.userFields
{
   background: none;
   border: none;
   border-collapse: collapse;
   margin-left: 17px; /* 7px (padding from p) + 10px (margin from p), see #content p */
}

.userFieldsText
{
   background: none;
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   color: black;
}

.userFieldsInput
{
   background: none;
   border: none;
}

/* Textarea occupies as much space as possible; font is also customized */

textarea
{
   width: 99.5%;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   resize: vertical;
   box-sizing: border-box;
   margin: 0px;
   text-align: justify;
}

/* Formatting topic thumbnails */

.thumbnail
{
   position: relative;
   width: 260px;
   height: 162px;
   margin: 0px 0px 6px 6px;
   background: none;
   border-radius: 5px;
   box-shadow: 0px 0px 2px 0px #646464;
}

/* Icons in top left corner of the thumbnail */

.thumbnailIcons
{
   position: absolute;
   top: 0;
   left: 0;
   margin: 0px;
   padding: 3px;
   border-radius: 5px 0px 5px 0px;
   background-color: rgba(0, 0, 0, 0.6);
   opacity: 0.8;
   color: white;
   display: inline-block;
   z-index: 1;
}

.thumbnailIcons:hover
{
   background-color: rgba(0, 0, 0, 0.9);
}

.thumbnailIcons a
{
   text-decoration: none;
}

/* Date of the last message in top right corner */

.thumbnailTime
{
   position: absolute;
   top: 0;
   right: 0;
   margin: 0px;
   padding: 3px;
   border-radius: 0px 5px 0px 5px;
   background-color: rgba(0, 0, 0, 0.6);
   opacity: 0.8;
   display: inline-block;
   z-index: 1;
}

.thumbnailTime:hover
{
   background-color: rgba(0, 0, 0, 0.9);
}

/* Style for <p> inside thumbnailIcons / thumbnailTime */

.thumbnailIcons p, .thumbnailTime p
{
   margin: 0px;
   padding: 3px;
   font-size: 0.75rem; /* ~12px */
   font-family: "Roboto", "Arial", sans-serif;
   color: white;
}

.thumbnailIcons i
{
   margin-left: 2px;
}

.thumbnailTime i
{
   margin-right: 2px;
}

.thumbnailTime span
{
   cursor: default;
}

/* Text under a thumbnail */

.captionThumbnail
{
   position: absolute;
   bottom: 0;
   width: 260px;
   min-height: 30px;
   border-radius: 0px 0px 5px 5px;
   background-color: rgba(0, 0, 0, 0.6);
   color: white;
   opacity: 0.8;
   z-index: 1;
}

.captionThumbnail:hover
{
   background-color: rgba(0, 0, 0, 0.9);
}

/* Cursor stuff and main link (such that a click in the middle of the thumbnail leads to the topic). */

.thumbnail .thumbnailIcons img, .thumbnail .thumbnailTime img, .thumbnail .thumbnailTime h6
{
   cursor: help;
}

.thumbnailClick /* Also re-usable for article thumbnails */
{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 0;
}

.thumbnail:hover > .thumbnailClick, .articleHighlight:hover > .thumbnailClick, .articleThumbnail:hover > .thumbnailClick
{
   background-color: rgba(255, 255, 255, 0.2);
}

/* Text under a thumbnail when the topic is marked */

.captionThumbnailMarked
{
   position: absolute;
   top: 0;
   margin-top: 132px;
   width: 260px;
   height: 30px;
   border-radius: 0px 0px 5px 5px;
   background-color: black;
   color: white;
   opacity: 0.8;
}

.captionThumbnailMarked:hover
{
   opacity: 1.0;
}

/* Style of the links and text in a thumbnail */

.captionThumbnail p, .captionThumbnailMarked p
{
   margin: 0px;
   padding: 10px 4px;
   text-align: center;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.675rem; /* ~11px */
   line-height: 130%;
   color: white;
}

.captionThumbnail a, .captionThumbnailMarked a
{
   color: white;
   text-decoration: none;
}

.captionThumbnail a:hover, .captionThumbnailMarked a:hover
{
   color: #91c148;
}

/* Style for the links to the last page in a thumbnail */

.captionThumbnail .lastPage, .captionThumbnailMarked .lastPage
{
   color: #3475e5;
   text-decoration: none;
}

.captionThumbnail .lastPage:hover, .captionThumbnailMarked .lastPage:hover
{
   color: #91c148;
}

/* Style for article thumbnails and highlights */

.articleThumbnail
{
   position: relative;
   width: 100%;
   aspect-ratio: 370 / 208;
   background: none;
   border: 1px solid #646464;
   box-shadow: 0px 0px 3px 0px #646464;

   &:hover
   {
      border-color: #c8c8c8;
   }
}

.articleHighlight
{
   position: relative;
   aspect-ratio: 770 / 400;
   @media screen and (width > 640px) {
      aspect-ratio: 1170 / 400;
   }
   width: 100%;
   background: none;
   border: 1px solid #646464;
   box-shadow: 0px 0px 3px 0px #646464;
   grid-column: 1 / -1;
   transition: border-color var(--transition-time);

   &:hover
   {
      border-color: #c8c8c8;
   }
}

/* Details at the top of the "window" */

.articleThumbnailType
{
   position: absolute;
   top: 0;
   left: 0;
   margin: 0px;
   border-radius: 0px 0px 5px 0px;
   background-color: rgba(0, 0, 0, 0.8);
   color: white;
   display: inline-block;
   z-index: 1;
}

.articleThumbnailExtra, .articleHighlightDetails /* Extra = extra information (publication state or author) */
{
   position: absolute;
   top: 0;
   right: 0;
   margin: 0px;
   border-radius: 0px 0px 0px 5px;
   background-color: rgba(0, 0, 0, 0.8);
   color: white;
   display: inline-block;
   z-index: 1;
}

.articleThumbnailType:hover, .articleThumbnailExtra:hover, .articleHighlightDetails:hover
{
   background-color: rgba(0, 0, 0, 1.0);
}

.articleThumbnailType p, .articleThumbnailExtra p
{
   margin: 0px;
   padding: 8px;
   font-size: 1rem; /* ~16px */
   font-family: "Roboto", "Arial", sans-serif;
}

.articleHighlightDetails p
{
   margin: 0px;
   padding: 8px;
   font-size: 1.25rem; /* ~20px */
   font-family: "Roboto", "Arial", sans-serif;
}

/* Alternative color schemes for .articleThumbnailType, .articleHighlightDetails and .articleThumbnailExtra depending on state/type of article */

.articleThumbnailType.chronicle, .articleHighlightDetails.chronicle { background-color: rgba(153, 54, 139, 0.8); }
.articleThumbnailType.chronicle:hover, .articleHighlightDetails.chronicle:hover { background-color: rgba(153, 54, 139, 1.0); }
.articleThumbnailType.opinion, .articleHighlightDetails.opinion { background-color: rgba(145, 193, 72, 0.8); }
.articleThumbnailType.opinion:hover, .articleHighlightDetails.opinion:hover { background-color: rgba(145, 193, 72, 1.0); }
.articleThumbnailType.preview, .articleHighlightDetails.preview { background-color: rgba(52, 177, 229, 0.8); }
.articleThumbnailType.preview:hover, .articleHighlightDetails.preview:hover { background-color: rgba(52, 177, 229, 1.0); }
.articleThumbnailType.review, .articleHighlightDetails.review { background-color: rgba(205, 48, 30, 0.8); }
.articleThumbnailType.review:hover, .articleHighlightDetails.review:hover { background-color: rgba(205, 48, 30, 1.0); }
.articleThumbnailType.guide, .articleHighlightDetails.guide { background-color: rgba(221, 147, 2, 0.8); }
.articleThumbnailType.guide:hover, .articleHighlightDetails.guide:hover { background-color: rgba(221, 147, 2, 1.0); }
.articleThumbnailType.misc, .articleHighlightDetails.misc { background-color: rgba(150, 150, 150, 0.8); }
.articleThumbnailType.misc:hover, .articleHighlightDetails.misc:hover { background-color: rgba(150, 150, 150, 1.0); }

.articleThumbnailExtra.published { background-color: rgba(145, 193, 72, 0.8); }
.articleThumbnailExtra.published:hover { background-color: rgba(145, 193, 72, 1.0); }
.articleThumbnailExtra.wip { background-color: rgba(52, 177, 229, 0.8); }
.articleThumbnailExtra.wip:hover { background-color: rgba(52, 177, 229, 1.0); }

/* Titles in thumbnail */

.articleThumbnail .articleTitles
{
   position: absolute;
   bottom: 0;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   z-index: 1;
   transition: border-color var(--transition-time);

   &:hover
   {
      background-color: rgba(0, 0, 0, 0.9);
   }
}

.articleThumbnail .articleTitle p
{
   margin: 0px 5px;
   padding: 5px;
   font-size: 1.125rem; /* ~18px */
   font-weight: bold;
   font-family: "Roboto", "Arial", sans-serif;
}

.articleThumbnail .articleSubtitle p
{
   margin: 0px 5px;
   padding: 0px 5px 5px 5px;
   font-size: 1rem; /* ~16px */
   font-family: "Roboto", "Arial", sans-serif;
}

.articleThumbnail .articleTitles a
{
   text-decoration: none;
   color: white;
}

.articleThumbnail .articleTitles a:hover
{
   color: #3475e5;
}

/* Titles in highlight */

.articleHighlight .articleTitles
{
   position: absolute;
   bottom: 0;
   width: 100%;
   min-height: 80px;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   z-index: 1;
}

.articleHighlight .articleTitles:hover
{
   background-color: rgba(0, 0, 0, 0.9);
}

.articleHighlight .articleTitle p
{
   margin: 0px 5px;
   padding: 5px;
   font-size: 1.625rem; /* ~26px */
   font-weight: bold;
   font-family: "Roboto", "Arial", sans-serif;
}

.articleHighlight .articleSubtitle p
{
   margin: 0px 5px;
   padding: 0px 5px 5px 5px;
   font-size: 1.375rem; /* ~22px */
   font-family: "Roboto", "Arial", sans-serif;
}

.articleHighlight .articleTitles a
{
   text-decoration: none;
   color: white;
}

.articleHighlight .articleTitles a:hover
{
   color: #3475e5;
}

/* Next comes some styling for formatting elements (in articles, forum posts, etc.) */

/* Pretty display of a user's pseudonyme+avatar */

.userMiniAvatar
{
   padding: 0px;
   margin-right: 5px;
   border-radius: 50%;
   vertical-align: -40%;
}

.userMiniPseudo
{
   font-size: 1rem; /* ~16px */
   font-weight: bold;
}

/* Miniature (of an upload) */

.miniature
{
   border: none;
   cursor: pointer;
}

/* Emoticon (vertical centering) */

.emoticon
{
   vertical-align: middle;
}

/* Hidden text */

.hiddenText
{
   background-color: black;
   color: black;
}

.hiddenText:hover
{
   background-color: white;
   color: black;
}

/* Spoilers and quotations (N.B.: some properties are occasionally overriden in other CSS files) */

.quotation, .spoiler
{
   width: 96%;
   margin-left: 2%;
   border-top: 1px solid #c8c8c8;
   border-bottom: 1px solid #c8c8c8;
   border-left: 2px solid #3475e5;
   border-right: 1px solid #c8c8c8;
   background-color: white;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 0px;
}

.spoiler a
{
   cursor: pointer;
}

/* Style for video thumbnails */

.videoThumbnail
{
   display: inline-block;
   cursor: pointer;
}

.videoThumbnailOverlay
{
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.videoThumbnailOverlay i
{
   opacity: 0.7;
   background-color: white;
   padding: 10px;
   border-radius: 85px;
}

.videoThumbnailOverlay i:hover
{
   opacity: 1.0;
   background-color: white;
   padding: 10px;
   border-radius: 85px;
}

/* Style for clip miniatures */

.clipThumbnail
{
   position: relative;
   cursor: pointer;
}

.clipThumbnail .miniature
{
   float: left;
}

.clipThumbnailOverlay
{
   position: absolute;
   background-color: #646464;
   color: white;
   display: flex;
   justify-content: left;
   border-radius: 0px 0px 5px 0px;
   pointer-events: none;
}

.clipThumbnailOverlay i
{
   font-size: 18px;
   padding-left: 8px;
   padding-top: 7px;
   padding-right: 7px;
   padding-bottom: 7px;
}

/* Style for the format buttons and emoticon display while editing some content */

.formatButton
{
   padding: 6px 6px 4px 6px;
   background-color: black;
   color: white;
   font-size: 1.25rem; /* ~20px */
   border-radius: 3px;
   cursor: pointer;
}

.formatButton:hover
{
   background-color: #557083;
}

#emoticonsDisplay
{
   display: none;
   height: 100px;
   margin-left: 18px;
   margin-right: 23px;
   margin-bottom: 5px;
   overflow-y: scroll;
   border: 1px solid #c8c8c8;
   font-size: 0;
}

#emoticonsDisplay .emoticon
{
   display: inline-block;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
   cursor: pointer;
}

/* Style for ratings section of commentable content */

.ratings
{
   margin-top: 10px;
}

.relevantRatings, .irrelevantRatings
{
   display: block;
   width: 100%;
}

.ratingsLeft
{
   float: left;
   margin-left: 10px;
   margin-top: 10px;
}

.ratingsRight
{
   float: left;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
}

.ratingsLeft p
{
   min-width: 150px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: center;
   padding: 16px;
   margin: 0px;
   background-color: grey; /* Just in case */
   color: white;
   border-radius: 10px;
}

.ratingsRight p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: center;
   padding: 16px 5px;
   margin: 0px;
   background: none;
   color: black;
   border-radius: 10px;
}

.raterAvatar
{
   float: left;
   width: 50px;
   height: 50px;
   margin-right: 10px;
}

.raterAvatar img
{
   width: 100%;
   height: 100%;
   border-radius: 5px;
}

.relevantRatings .ratingsLeft .ratedRelevant { background-color: #00cc00; }
.relevantRatings .ratingsLeft .ratedRelevant:hover { background-color: #00e600; }
.relevantRatings .ratingsLeft .noRating { background-color: #009900; }
.relevantRatings .ratingsLeft .noRating:hover { background-color: #00cc00; }
.relevantRatings .ratingsLeft .ratedIrrelevant { background-color: #008000; }
.relevantRatings .ratingsLeft .ratedIrrelevant:hover { background-color: #009900; }
.irrelevantRatings .ratingsLeft .ratedRelevant { background-color: #b30000; }
.irrelevantRatings .ratingsLeft .ratedRelevant:hover { background-color: #cc0000; }
.irrelevantRatings .ratingsLeft .noRating { background-color: #cc0000; }
.irrelevantRatings .ratingsLeft .noRating:hover { background-color: #ff3333; }
.irrelevantRatings .ratingsLeft .ratedIrrelevant { background-color: #ff3333; }
.irrelevantRatings .ratingsLeft .ratedIrrelevant:hover { background-color: #ff6666; }

/* Style for filter, game search and user input forms */

#filterForm, #gameSearchForm
{
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   width: 700px;
   border: none;
}

#userInputForm
{
   margin: auto;
   min-width: 320px;
   border: none;
}

#filterForm input[type=text]
{
   width: 320px;
}

#gameSearchForm input[type=text]
{
   width: 450px;
}

/* N.B.: filterFormInputs is also used within a #gameSearchForm */

#filterFormInputs
{
   width: 100%;
   border: none;
   margin-top: 10px;
}

#filterForm p, #gameSearchForm p, #userInputForm p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: center;
   padding: 2px 7px;
   margin: 0px;
}

#filterFormInputs p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: center;
   padding: 2px 7px;
   margin: 0px;
}

#filterFormInputs a
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: justify;
   text-decoration: none;
   color: #155dc8;
}

#filterFormInputs a:hover
{
   color: black;
}

/* Style for autocomplete suggestions */

.suggestions ul
{
   z-index: 25;
   width: 450px;
   position: absolute;
   margin: 0px;
   padding: 0px;
   background-color: white;
   color: black;
   border: 1px solid rgb(200,200,200);
   list-style:none;
}

#filterForm .suggestions ul
{
   margin-left: 20px;
}

#gameSearchForm .suggestions ul
{
   margin-left: 42px;
   width: 450px;
}

.suggestions li
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   padding: 4px;
}

.suggestions li:hover
{
   background-color: rgb(230,230,230);
}

#content .suggestions a, #contentMultiple .suggestions, #topicContent .suggestions a
{
   text-decoration: none;
   color: black;
}

#filterForm .suggestions a, #gameSearchForm .suggestions a, #userInputForm .suggestions a
{
   text-decoration: none;
   color: black;
}

/* Style for keyword/alias deletion button */

.deleteKeyword, .deleteAlias
{
   display: inline-block;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 3px;
   padding: 2px;
   margin-right: 3px;
   margin-left: 3px;
   cursor: pointer;
}

.deleteKeyword i, .deleteAlias i
{
   color: white;
   padding: 3px;
}

.deleteKeyword i:hover, .deleteAlias i:hover
{
   color: #36DDFF;
}

/* Classes to enhance the visuals of the lists of pages (in centeredContent blocks). */

.backBlack
{
   color: white;
   background-color: black;
   padding: 4px 7px;
   border-radius: 3px;
   box-shadow: 0px 0px 3px 0px #646464;
}

.backBlack:hover
{
   background-color: #557083;
}

.backBlack a, .backBlack a:hover
{
   color: white;
}

.backWhite
{
   color: black;
   background-color : white;
   padding: 4px 7px;
   border-radius: 3px;
   box-shadow: 0px 0px 3px 0px #646464;
}

.backGrey
{
   color: black;
   background-color : rgb(180, 180, 180);
   padding: 4px 7px;
   border-radius: 3px;
   box-shadow: 0px 0px 3px 0px #646464;
}
