:root {
    --percentage: 98%;
}

@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 var(--percentage) 0);
    }
    25% {
        clip-path: inset(0 var(--percentage) 0 0);
    }
    50% {
        clip-path: inset(var(--percentage) 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 var(--percentage));
    }
}

.dragAndDropUpload {
    padding: 0.5rem;

    .listUploads {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        img, video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .dropzone {
        padding: 0.85rem;
        /* border: 1px dashed black; */
        border-radius: var(--border-radius);

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;

        > * {
            z-index: 10;
        }

        .text {
         margin: 0;
        }

        &::before, &::after {
            content: "";
            position: absolute;
            border: 2px dashed #fff;
            background: linear-gradient(#fff 0 0) padding-box, linear-gradient(to bottom, oklch(from var(--current-page-color) calc(l * 1.25) c h), oklch(from var(--current-page-color) calc(l * .75) c h));
            animation: clippath 350ms infinite ease-in;
            border-radius: var(--border-radius);
            inset: 0;
            z-index: 0;
        }

        &.paused {
            &::before, &::after {
                animation-name: none;
            }
        }
    }
}
