.errorContainer {
   background-color: #d43636;
   border-radius: 10px;
   padding-bottom: 5px;
   margin-top: 20px;
   box-shadow: 0px 0px 3px 0px #646464;
   padding: 0.5rem 1rem;
   color: white;

   .title {
      margin: 0;
      font-size: 2.25rem;

      border-bottom: 1px solid white;
   }
}

form .error {
   border-color: oklch(44.4% 0.177 26.899) !important;
   border-style: solid;
   border-width: 1px;
   ~ .select2-container .select2-selection {
      border-color: oklch(44.4% 0.177 26.899) !important;
   }
}
