/**
* This file defines style for a game homepage.
*
* General remark: font-size are in px rather than rem because game headers are meant to have a 
* fixed size.
*/

/* Container for the game header (centers it). */

#mediaContainer
{
   margin: auto;
   width: 800px;
   display: block;
   margin-bottom: 30px;
   margin-top: 30px;
   border-radius: 5px;
   box-shadow: 0px 0px 3px 0px black;
}

/* Game header itself. */

.mediaHeader
{
   margin-top: 0px;
   width: 800px;
   height: 162px;
   background: none;
   border-radius: 5px;
}

/* Game thumbnail style. */

.mediaHeaderThumbnail
{
   border-radius: 5px 0px 0px 5px;
   width: 260px;
   height: 162px;
   float: left;
}

.mediaHeaderThumbnail a
{
   display: block;
   height: 100%;
   width: 100%;
   text-decoration: none;
}

/*
* Container for the title and paragraph displaying genre, developer, etc. The style of the textual
* elements being used inside is also defined as well.
*/

.mediaHeaderContent
{
   display: block;
   width: 540px;
   height: 162px;
   float: left;
   border-radius: 0px 5px 5px 0px;
   background-color: #c8c8c8;
}

.mediaHeaderContent h1
{
   width: 520px;
   background-color: black;
   margin: 0px;
   border-radius: 0px 5px 0px 0px;
   float: left;
   color: white;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 16px;
   padding: 10px;
}

.mediaHeaderContent h1 a
{
   color: white;
   text-decoration: none;
}

.mediaHeaderContent h1 a:hover
{
   color: #3475e5;
}

.mediaHeaderContent p
{
   width: 520px;
   background: none;
   margin: 0px;
   line-height: 170%;
   float: left;
   color: black;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 14px;
   padding: 10px;
   text-align: justify;
}

.mediaHeaderContent a
{
   text-decoration: none;
   color: #3475e5;
}

.mediaHeaderContent a:hover
{
   color: white;
}

.mediaHeaderContent .hw_PC { padding: 2px 4px; border-radius: 4px; background-color: rgb(230,230,230); border: 1px solid white; color: black; font-family: "Roboto", "Arial", "Serif"; font-size: 13px; }
.mediaHeaderContent .hw_X360 { padding: 2px 4px; border-radius: 4px; background-color: rgb(255,255,255); border: 1px solid white; color: green; font-family: "Roboto", "Arial", "Serif"; font-size: 13px; }
.mediaHeaderContent .hw_XONE { padding: 2px 4px; border-radius: 4px; background-color: rgb(0,150,0); border: 1px solid white; color: white; font-family: "Roboto", "Arial", "Serif"; font-size: 13px; }
.mediaHeaderContent .hw_XSX { padding: 2px 4px; border-radius: 4px; background-color: rgb(0,100,0); border: 1px solid white; color: white; font-family: "Roboto", "Arial", "Serif"; font-size: 13px; }
.mediaHeaderContent .hw_PS3 { padding: 2px 4px; border-radius: 4px; background-color: rgb(90,90,90); border: 1px solid white; color: white; font-family: "Roboto", "Arial", "Serif"; font-size: 13px; }
.mediaHeaderContent .hw_PSV { padding: 2px 4px; border-radius: 4px; background-color: rgb(0,0,200); border: 1px solid white; color: white; font-family: "Roboto", "Arial", "Serif"; font-size: 13px; }
.mediaHeaderContent .hw_PS4 { padding: 2px 4px; border-radius: 4px; background-color: rgb(0,0,200); border: 1px solid white; color: white; font-family: "Roboto", "Arial", "Serif"; font-size: 13px; }
.mediaHeaderContent .hw_PS5 { padding: 2px 4px; border-radius: 4px; background-color: rgb(0,0,230); border: 1px solid white; color: white; font-family: "Roboto", "Arial", "Serif"; font-size: 13px; }
.mediaHeaderContent .hw_Wii { padding: 2px 4px; border-radius: 4px; background-color: rgb(255,255,255); border: 1px solid white; color: grey; font-family: "Roboto", "Arial", "Serif"; font-size: 13px; }
.mediaHeaderContent .hw_WiiU { padding: 2px 4px; border-radius: 4px; background-color: rgb(0,100,230); border: 1px solid white; color: white; font-family: "Roboto", "Arial", "Serif"; font-size: 13px; }
.mediaHeaderContent .hw_Switch { padding: 2px 4px; border-radius: 4px; background-color: rgb(230,0,0); border: 1px solid white; color: white; font-family: "Roboto", "Arial", "Serif"; font-size: 13px; }
.mediaHeaderContent .hw_3DS { padding: 2px 4px; border-radius: 4px; background-color: rgb(150,0,0); border: 1px solid white; color: white; font-family: "Roboto", "Arial", "Serif"; font-size: 13px; }
