/* Style for game content, such as trivia */

#triviaContainer
{
   margin: auto;
   width: 80%;
   min-width: 800px;
}

/* General style for blocks and content */

.triviaBlock
{
   display: block;
   min-width: 760px;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
}

.triviaContent
{
   display: block;
   overflow: hidden;
   border-radius: 5px;
   box-shadow: 0px 0px 3px 0px #646464;
}

.triviaHeader p, .triviaContent p
{
   margin: 0px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   padding: 10px;
   text-align: justify;
}

/* Game thumbnail (optional) */

.relatedGame
{
   position: relative;
   display: block;
   width: 260px;
   height: 162px;
   border-radius: 5px;
   box-shadow: 0px 0px 3px 0px #646464;
   margin-right: 10px;
   padding: 0px;
}

.relatedGame h1
{
   position: relative;
   left: 0;
   top: 0;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   text-align: center;
   margin-top: 0px;
   padding: 5px;
   background-color: black;
   color: white;
   border-radius: 5px 5px 0px 0px;
}

.relatedGame a
{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.relatedGame a:hover
{
   background-color: rgba(255, 255, 255, 0.3);
}

/* Top of a piece of trivia */

.triviaTop
{
   display: block;
   background-color: #e9e9e9;
   color: #646464;
   border-radius: 5px;
   padding: 0px;
}

.triviaTitle
{
   display: inline-block;
   font-weight: bold;
   float: left;
}

.triviaRatings
{
   display: inline-block;
   float: right;
}

.triviaTop a
{
   text-decoration: none;
}

.triviaTop i
{
   color: #646464;
   font-size: 1.25rem; /* ~20px */
   vertical-align: -2px;
}

.triviaTop i:hover
{
   color: white;
}

/* Misc. */

.triviaTop a
{
   text-decoration: none;
   color: #3475e5;
}

.triviaTop a:hover
{
   color: blue;
}

.clear
{
   clear: both;
}

/* Bottom of a review/piece of trivia */

.contentBottom
{
   display: block;
   border-radius: 0px 0px 5px 5px;
}

.contentAuthor
{
   display: inline-block;
   float: right;
   border-radius: 25px 0px 0px 25px;
   background-color: #c8c8c8;
   border: 5px solid #c8c8c8;
   color: black;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   padding: 0px;
   margin: 10px 0px 10px 0px;
}

.contentAuthorAvatar
{
   display: inline-block;
   float: left;
   width: 50px;
   height: 50px;
   padding: 0px;
   margin: 0px;
   border-radius: 25px;
}

.contentAuthorAvatar img
{
   width: 100%;
   height: 100%;
   border-radius: 25px;
}

.contentAuthorPseudo
{
   display: inline-block;
   float: left;
   padding: 15px 5px 15px 10px;
}

.triviaText .contentAuthorPseudo a
{
   text-decoration: none;
   color: #646464;
   font-weight: bold;
}

/* Format of the content of the comment (similar to what is in topic.css) */

.contentDates p
{
   color: #646464;
   padding-bottom: 0px;
}

.triviaContent .fullContent
{
   background-color: white;
   color: black;
   border-radius: 5px;
   margin-top: 15px;
}

.fullContent img, .fullContent video
{
   max-width: 98%;
}

.fullContent h2
{
   margin: 0px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.25rem; /* ~20px */
   padding: 10px;
   text-align: justify;
}

.fullContent ul
{
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 25px;
}

.fullContent li
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   text-align: justify;
   margin-top: 10px;
}

.fullContent a
{
   text-decoration: none;
   color: #3475e5;
}

.fullContent a:hover
{
   color: blue;
}

/* Re-aligns external link icon with the text */

.externalLink
{
   vertical-align: -10%;
   margin-left: 3px;
}