/* Title of the list */

#listTitle
{
   margin: auto;
   width: 350px;
   padding: 10px;
   background-color: black;
   color: white;
   border-radius: 5px;
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: center;
   margin-bottom: 30px;
   margin-top: 20px;
}

/* Thumbnail of the list; hidden but should appear on title hover */

#listThumbnail
{
   position: fixed;
   display: none;
   width: 260px;
   height: 162px;
   background: none;
   border-radius: 5px;
}

/* Description of the list */

#listDescription
{
   width: 70%;
   min-width: 800px;
   margin: auto;
}

#listDescription p
{
   color: black;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: center;
}

#listDescription a
{
   text-decoration: none;
   color: #3475e5;
}

#listDescription a:hover
{
   color: blue;
}

/* Content of the list (i.e., items) */

#listContent
{
   width: 70%;
   min-width: 800px;
   margin: auto;
   margin-top: 30px;
}

#listContent p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
}

.itemBlock
{
   display: block;
   width: 100%;
   min-width: 760px;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
}

.itemTop
{
   display: block;
   background-color: #dddddd;
   color: #646464;
   border-radius: 5px 5px 0px 0px;
   padding: 0px;
}

.itemTop a
{
   text-decoration: none;
}

.itemTop i
{
   color: #646464;
   font-size: 1.25rem; /* ~20px */
   vertical-align: -2px;
}

.itemTop i:hover
{
   color: white;
}

.itemTitle
{
   float: left;
   width: 80%;
   text-align: left;
}

.itemInteractivity
{
   float: left;
   width: 20%;
}

.itemContent .itemTop .itemInteractivity p
{
   text-align: right;
}

.itemContent
{
   display: block;
   overflow: hidden;
   background-color: white;
   color: black;
   border-radius: 5px;
   box-shadow: 0px 0px 2px 0px black;
   min-height: 162px;
}

.itemContent p, .triviaHeader p, .triviaContent p
{
   margin: 0px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   padding: 10px;
   text-align: justify;
}

/* Game thumbnail */

.listedGame
{
   position: relative;
   display: block;
   float: left;
   width: 260px;
   height: 162px;
   border-radius: 5px;
   box-shadow: 0px 0px 2px 0px black;
   margin-right: 10px;
   padding: 0px;
}

.listedGame h1
{
   position: relative;
   left: 0;
   top: 0;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   text-align: center;
   margin-top: 0px;
   padding: 5px;
   background-color: black;
   color: white;
   border-radius: 5px 5px 0px 0px;
}

.listedGame h2
{
   position: absolute;
   left: 0;
   bottom: 0;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.25rem; /* ~20px */
   font-weight: bold;
   margin: 0px;
   padding: 5px 20px;
   background-color: black;
   color: white;
   border-radius: 0px 5px 0px 5px;
}

.listedGame a
{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.listedGame a:hover
{
   background-color: rgba(255, 255, 255, 0.3);
}

/* Style for the formatting elements in the comment */

.itemComment img, .itemComment video
{
   max-width: 98%;
}

.itemComment h2
{
   margin: 0px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1.25rem; /* ~20px */
   padding: 10px;
   text-align: justify;
}

.itemComment ul
{
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 25px;
}

.itemComment li
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   text-align: justify;
   margin-top: 10px;
}

.itemComment a
{
   text-decoration: none;
   color: #3475e5;
}

.itemComment a:hover
{
   color: blue;
}

/* Part dedicated to buttons below the list for edition, deletion, etc. */

#listButtons
{
   width: 70%;
   min-width: 800px;
   margin: auto;
   margin-top: 40px;
   text-align: center;
}

#listButtons p
{
   margin: 0px;
   color: black;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
}

#listButtons a
{
   text-decoration: none;
   background-color: black;
   color: white;
   padding: 10px 20px;
   border-radius: 4px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   border: none;
}

#listButtons a:hover
{
   background-color: #557083;
   color: white;
   cursor: pointer;
}

#listButtons a:active
{
   background-color: #646464;
}

/* Part dedicated to ratings */

.listRatings
{
   width: 50%;
   min-width: 800px;
   margin: auto;
   margin-top: 40px;
}

.listRatings p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: center;
}

/* Miscellaneous */

.clear
{
   width: 100%;
   clear: both;
}
