.shortcutMenu {
   z-index: 99;
   margin-inline: auto;
   position: sticky;
   top: 130px;
   @media screen and (width >= 768px) {
      top: 70px;
   }

   @media screen and (width >= 640px) {
      width: fit-content;
   }

   /* max-width: min(fit-content, 100%); */

   ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: start;
      @media screen and (width >= 640px) {
         justify-content: center;
   }
      gap: 1rem;
      overflow: auto;
      white-space: nowrap;
      max-width: var(--top-menu-width);
      scrollbar-width: none;
   }
}

.sectionBlock.myAccount {
   scroll-margin: 180px;

   @media screen and (width >= 768px) {
      scroll-margin: 130px;
   }
}
