/**
* This style sheet overrides some properties of ping.css to adapt the style used to render private 
* discussions such that the avatars, font sizes, etc. are slightly smaller ("medium" mode).
*/

#pingsContent .centeredText
{
   font-size: 0.875rem; /* ~14px */
}

#pingsContent .prettyLink
{
   font-size: 0.875rem; /* ~14px */
}

.pagesNav
{
   font-size: 0.875rem; /* ~14px */
}

.pingBlockLeftColumn
{
   width: 100px;
}

.pingBlockAvatar
{
   width: 100px;
   height: 100px;
}

.pingBlockLeftColumn h1
{
   width: 90px;
   font-size: 0.75rem; /* ~12px */
}

.pingBlockLeftColumn h1 a
{
   font-size: 0.75rem; /* ~12px */
}

.pingBlockText
{
   min-width: 650px;
   min-height: 134px;
}

.pingBlockText p
{
   font-size: 0.875rem; /* ~14px */
}

.pingBlockText li
{
   font-size: 0.875rem; /* ~14px */
}

.pingBlockTextTopRight p
{
   font-size: 1.25rem; /* ~20px */
}

.plainBlock p, #slidingBlock p
{
   font-size: 0.875rem; /* ~14px */
}

.postBlockLeftColumn
{
   width: 100px;
}

.postBlockAvatar
{
   width: 100px;
   height: 100px;
}

.postBlockLeftColumn h1
{
   width: 90px;
   font-size: 0.75rem; /* ~12px */
}

.postBlockLeftColumn h1 a
{
   font-size: 0.75rem; /* ~12px */
}

.postBlockText
{
   min-width: 650px;
   min-height: 100px;
}

.postBlockText h1
{
   min-width: 630px;
}

.postBlockText p
{
   font-size: 0.875rem; /* ~14px */
}

.postBlockText li
{
   font-size: 0.875rem; /* ~14px */
}

.postBlockTextTopLeftSide .postAuthor
{
   padding: 11px 20px;
}
