/* Thumbnail container; the size depends on the browser window width in pixels. */

#thumbnailsPool, #thumbnailsPoolIndex
{
   display: flex;
   flex-wrap: wrap;
   margin: auto;
}

#thumbnailsPoolIndex
{
   margin-top: 20px;
}

@media screen and (max-width: 1079px)
{
   #thumbnailsPool, #thumbnailsPoolIndex
   {
      width: 800px;
   }
}

@media screen and (min-width: 1080px) and (max-width: 1349px)
{
   #thumbnailsPool
   {
      width: 1080px;
   }
}

@media screen and (min-width: 1080px)
{
   #thumbnailsPoolIndex
   {
      width: 1080px;
   }
}

@media screen and (min-width: 1350px) and (max-width: 1619px)
{
   #thumbnailsPool
   {
      width: 1350px;
   }
}

@media screen and (min-width: 1620px)
{
   #thumbnailsPool
   {
      width: 1620px;
   }
}

/* Emoticons have their own dedicated container. */

#emoticonsPool, #lineItemsPool
{
   display: flex;
   flex-wrap: wrap;
   margin: auto;
}

#lineItemsPool
{
   width: 800px;
}

@media screen and (max-width: 1199px)
{
   #emoticonsPool
   {
      width: 800px;
   }
}

@media screen and (min-width: 1200px) and (max-width: 1599px)
{
   #emoticonsPool
   {
      width: 1200px;
   }
}

@media screen and (min-width: 1600px)
{
   #emoticonsPool
   {
      width: 1600px;
   }
}

#articlesPool, #articlesPoolIndex
{
   display: flex;
   flex-wrap: wrap;
   margin: auto;
}

#articlesPoolIndex
{
   margin-top: 20px;
}

@media screen and (max-width: 1199px)
{
   #articlesPool, #articlesPoolIndex
   {
      width: 800px;
   }
}

@media screen and (min-width: 1200px) and (max-width: 1599px)
{
   #articlesPool
   {
      width: 1200px;
   }
}

@media screen and (min-width: 1200px)
{
   #articlesPoolIndex
   {
      width: 1200px;
   }
}

@media screen and (min-width: 1600px)
{
   #articlesPool
   {
      width: 1600px;
   }
}

#emoticonsPool .poolError, #lineItemsPool .poolError, #articlesPool .poolError
{
   width: 100%;
   margin: 0px;
   color: black;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
   text-align: center;
}

/* Elements to centered elements such as page lists or specific buttons. */

.centeredContent
{
   width: 100%;
   min-width: 800px;
   margin: 20px 0px;
   text-align: center;
}

.centeredContent p
{
   margin: 0px;
   color: black;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 1rem; /* ~16px */
}

.centeredContent a
{
   text-decoration: none;
   color: #3475e5;
}

.centeredContent a:hover
{
   color: white;
}

/* Gives the links the aspect of a button in order to enhance visual aspect */

.centeredContent .prettyLink
{
   text-decoration: none;
   background-color: black;
   color: white;
   padding: 10px 20px;
   border-radius: 4px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   border: none;
   box-shadow: 0px 0px 2px 0px black;
}

.centeredContent .prettyLink:hover
{
   background-color: #646464;
   color: white;
   cursor: pointer;
}

.centeredContent .prettyLink:active
{
   background-color: grey;
}

/* Colored pretty links based on the charter (only changes background color) */

.centeredContent .prettyLink.chronicle { background-color: #99368b; }
.centeredContent .prettyLink.guide { background-color: #dd9302; }
.centeredContent .prettyLink.opinion { background-color: #91c148; }
.centeredContent .prettyLink.preview { background-color: #34b1e5; }
.centeredContent .prettyLink.review { background-color: #cd301e; }
.centeredContent .prettyLink.misc { background-color: #969696; }

.centeredContent .prettyLink.chronicle:hover, .centeredContent .prettyLink.guide:hover, 
.centeredContent .prettyLink.opinion:hover, .centeredContent .prettyLink.preview:hover, 
.centeredContent .prettyLink.review:hover, .prettyLink.misc:hover
{
   background-color: #646464;
}

.centeredContent .prettyLink.chronicle:active, .centeredContent .prettyLink.guide:active, 
.centeredContent .prettyLink.opinion:active, .centeredContent .prettyLink.preview:active, 
.centeredContent .prettyLink.review:active, .prettyLink.misc:active
{
   background-color: #646464;
}

/* Similar CSS but for text only (pages being viewed) */

.prettyText
{
   background-color: #646464;
   color: white;
   font-weight: bold;
   padding: 10px 20px;
   border-radius: 4px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   border: none;
   box-shadow: 0px 0px 2px 0px black;
}

/*
* Style for user blocks, since they will only occur in "pools" (therefore, a separate stylesheet 
* would be unnecessary). 
*/

.userBlock
{
   margin: 0px 10px 10px 0px;
}

.userBlockAvatar
{
   width: 125px;
   height: 125px;
   border-radius: 5px;
}

.userBlockAvatar a
{
   display: block;
   height: 100%;
   width: 100%;
   text-decoration: none;
}

.userBlock h1
{
   width: 115px;
   margin: 10px 0px 0px;
   border-radius: 5px;
   background-color: black;
   color: white;
   font-size: 0.75rem; /* ~12px */
   padding: 5px;
   text-align: center;
   border: none;
}

.userBlock h1 a
{
   text-decoration: none;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.75rem; /* ~12px */
   color: white;
   padding: 0px;
   margin: 0px;
}

.userBlock a:hover
{
   color: #5599ff;
}

/*
* Similarly, style for emoticon blocks. 
*/

.emoticonBlock
{
   width: 390px;
   height: 122px;
   margin: 0px 5px 5px 0px;
   background-color: white;
   border-radius: 5px;
   padding: 0px;
   display: flex;
   flex-wrap: wrap;
}

.emoticonBlock h1
{
   font-family: "Roboto", "Arial", sans-serif;
   width: 390px;
   font-size: 1rem; /* ~16px */
   text-align: justify;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px 10px 5px 10px;
   margin-top: 0px;
   margin-bottom: 0px;
}

.emoticonBlock i
{
   margin-left: 3px;
   cursor: pointer;
}

.emoticonDisplay
{
   width: 120px;
   height: 90px;
   margin-left: 5px;
   margin-bottom: 5px;
   padding: 0px;
   text-align: center;
   position: relative;
}

/* From: http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div */

.emoticonDisplay img
{
   max-height: 100%;  
   max-width: 100%; 
   width: auto;
   height: auto;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.emoticonDetails
{
   width: 260px;
   height: 90px;
   margin-bottom: 5px;
   margin-right: 5px;
}

.emoticonDetails p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   text-align: justify;
   padding: 3px;
   margin: 5px 5px;
}

.emoticonDetails a
{
   text-decoration: none;
   color: #155dc8;
}

.emoticonDetails a:hover
{
   color: blue;
}

/* Style for pins and alerts */

.pinBlock, .alertBlock
{
   margin: auto;
   width: 800px;
   height: 30px;
   margin: 0px 5px 5px 0px;
   background-color: white;
   border-radius: 5px;
   padding: 0px;
   border: 1px solid #646464;
   display: flex;
   flex-wrap: wrap;
}

.pinBlock p, .alertBlock p
{
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 0.875rem; /* ~14px */
   text-align: justify;
   padding: 0px;
   margin: 5px;
}

.pinBlock i, .alertBlock i
{
   font-size: 1rem; /* ~16px */
   vertical-align: -1px;
   padding: 6px 3px;
}

.pinBlockLeft, .alertBlockLeft
{
   height: 30px;
   background-color: black;
   color: white;
   border-radius: 5px 0px 0px 5px;
}

.pinBlockLeft
{
   width: 325px;
}

.alertBlockLeft
{
   width: 600px;
}

.pinBlockAvatar, .alertBlockAvatar
{
   height: 30px;
   width: 30px;
   float: left;
   border-radius: 5px 0px 0px 5px;
   margin-right: 10px;
}

.pinBlockRight, .alertBlockRight
{
   height: 30px;
   text-align: justify;
}

.pinBlockRight
{
   width: 468px; /* 470 - 2 */
}

.alertBlockRight
{
   width: 198x; /* 200 - 2 */
}

.pinBlock img, .alertBlock img
{
   float: right;
   vertical-align: -35%;
   padding: 0px;
   margin: 0px 5px 0px 0px;
}

.pinInfo, .alertInfo
{
   cursor: help;
}

.pinDelete
{
   cursor: pointer;
}

.pinBlockLeft a, .alertBlockLeft a
{
   text-decoration: none;
   color: #3475e5;
}

.pinBlockLeft a:hover, .alertBlockLeft a:hover
{
   color: white;
}

.pinBlockRight .comment
{
   cursor: pointer;
}

.pinBlockRight input[type=text]
{
   font-size: 0.875rem; /* ~14px */
   margin: 0px;
   padding: 0px;
   width: 350px;
}

.pinBlockRight button
{
   font-size: 0.875rem; /* ~14px */
   vertical-align: 10%;
   padding: 2px 5px;
}
