/* CSS for registration e-mails. */

p
{
   font-family: "Arial", sans-serif;
   font-size: 1rem;
   text-align: justify;
}

a
{
   font-family: "Arial", sans-serif;
   font-size: 1rem;
   text-align: justify;
   text-decoration: none;
   color: #155dc8;
}

a:hover
{
   color: black;
}
