/**
* This style sheet defines the style used to render a topic. This sheet is also responsive to the 
* resolution of a browser.
*/

/* This block will contain everything related to a topic: header, posts or reply form. */

#topicContent
{
   width: 100%;
   min-width: 800px;
}

#topicContent .centeredAlert
{
   margin-top: 15px;
   margin-bottom: 10px;
   color: black;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   text-align: center;
}

/* Elements to display the list of pages in a pretty way. */

.messagesNav
{
   display: block;
   width: auto;
   min-width: 760px;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 20px;
}

.messagesNav .topicMenu
{
   margin: 0px;
   color: black;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   text-align: center;
}

.topicMenu a
{
   text-decoration: none;
   background-color: black;
   color: white;
   padding: 6px 15px;
   border-radius: 4px;
   box-shadow: 0px 0px 3px 0px #646464;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   border: none;
}

.topicMenu a:hover
{
   background-color: #3475e5;
   color: white;
}

.messagesNav .prettyText
{
   background-color: #646464;
   color: white;
   padding: 6px 15px;
   border-radius: 4px;
   box-shadow: 0px 0px 3px 0px #646464;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   border: none;
}

.messagesNav .prettyText:hover
{
   background-color: #c8c8c8;
   color: black;
   cursor: pointer;
}

.messagesNav select
{
   font-family: "Roboto", "Arial", "Serif";
   font-size: 0.875rem; /* ~14px */
   padding: 4px 3px;
   margin: 0px 4px;
}

.messagesNav button
{
   background-color: black;
   color: white;
   padding: 6px 15px;
   border-radius: 4px;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   border: none;
}

.pagesNav
{
   margin-bottom: 15px;
   padding: 5px;
   color: black;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   text-align: center;
}

.pagesNav a
{
   text-decoration: none;
   color: #3475e5;
}

.pagesNav a:hover
{
   color: blue;
}

.hiddenPages
{
   display: none;
}

.unhidePages
{
   color: black;
   cursor: pointer;
   background-color : white;
   padding: 4px 7px;
   border-radius: 3px;
}

.unhidePages:hover
{
   color: #646464;
}

.pageLink
{
   color: #3475e5;
   background-color: white;
   padding: 4px 7px;
   border-radius: 3px;
   box-shadow: 0px 0px 3px 0px #646464;
}

.pageLink:hover, .pageLink a:hover
{
   color: black;
   cursor: pointer;
}

.pageLinkSelected
{
   color: black;
   background-color: #c8c8c8;
   padding: 4px 7px;
   border-radius: 3px;
   box-shadow: 0px 0px 3px 0px #646464;
}

/* Container for a duo post/avatar. */

.postBlock
{
   display: block;
   width: auto;
   min-width: 760px;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
}

/* Left column of a post (avatar + author's pseudo). */

.postBlockLeftColumn
{
   float: left;
   display: block;
   width: 125px;
   margin-right: 10px;
}

.postBlockAvatar
{
   width: 125px;
   height: 125px;
   border-radius: 5px;
   box-shadow: 0px 0px 3px 0px #646464;
}

/* Text part of a post */

.postBlockText
{
   display: block;
   overflow: hidden;
   width: auto;
   min-width: 625px;
   min-height: 125px;
   margin: 0px 0px 0px 10px;
   border-radius: 5px;
   background-color: white;
   box-shadow: 0px 0px 3px 0px #646464;
}

.postBlockText img, .postBlockText video
{
   max-width: 100%;
}

.postBlockText .emoticon
{
   vertical-align: middle;
}

.postBlockText .miniature
{
   border: none;
   cursor: pointer;
}

.postBlockText h1
{
   width: auto;
   min-width: 605px;
   background-color: black;
   margin: 0px;
   border-radius: 5px 5px 0px 0px;
   color: white;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1.125rem; /* ~18px */
   padding: 10px;
}

.postBlockText p
{
   margin: 0px;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   padding: 12px;
   text-align: justify;
}

.postBlockTextTop p
{
   margin: 0px;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   padding: 10px;
   text-align: justify;
   color: #646464;
}

.postBlockTextTop i
{
   color: black;
   font-size: 1.25rem; /* ~20px */
   vertical-align: -3px;
   margin: 0px 2px;
   cursor: pointer;
}

.postBlockTextTop .realigned
{
   padding-top: 13px;
   padding-bottom: 7px;
}

.postBlockText h2
{
   margin: 0px;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1.25rem; /* ~20px */
   padding: 10px;
   text-align: justify;
}

.postBlockText ul 
{
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 25px;
   padding-right: 10px;
}

.postBlockText li
{
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   text-align: justify;
   margin-top: 10px;
}

.postBlockText a
{
   text-decoration: none;
   color: #3475e5;
}

.postBlockText a:hover
{
   color: blue;
}

/* Quotation */

.postBlockText .quotation, .postBlockText .spoiler
{
   width: 96%;
   margin-left: 2%;
   border-top: 1px solid #c8c8c8;
   border-bottom: 1px solid #c8c8c8;
   border-left: 2px solid #3475e5;
   border-right: 1px solid #c8c8c8;
   background-color: white;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 0px;
}

.postBlockText .spoiler a
{
   cursor: pointer;
}

/* Pretty display of some user's pseudo */

.postBlockText .userMiniAvatar
{
   padding: 0px;
   margin-right: 5px;
   border-radius: 50%;
   vertical-align: -40%;
}

.postBlockText .userMiniPseudo
{
   font-size: 1rem; /* ~16px */
   font-weight: bold;
}

/* Hidden text */

.hiddenText
{
   background-color: black;
   color: black;
}

.hiddenText:hover
{
   background-color: white;
   color: black;
}

/* Video thumbnail stuff */

.videoThumbnail
{
   display: inline-block;
   cursor: pointer;
}

.videoThumbnailOverlay
{
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.videoThumbnailOverlay i
{
   opacity: 0.7;
   background-color: white;
   border-radius: 80px;
}

.videoThumbnailOverlay i:hover
{
   opacity: 1.0;
   background-color: white;
   border-radius: 80px;
}

/* Top of the text part of a post (with dates, like/dislike buttons, etc.) */

.postBlockTextTop
{
   display: block;
   width: auto;
   border-radius: 5px 5px 0px 0px;
   background-color: #e9e9e9;
}

.postBlockTextTopLeftSide
{
   float: left;
   width: 70%;
}

.postBlockTextTopRightCorner
{
   float: right;
   width: 30%;
}

.postBlockTextTopLeftSide .postAuthor
{
   float: left;
   border-radius: 5px 0px 0px 0px;
   background-color: black;
   color: white;
   font-family: "Roboto", "Arial", "Serif";
   margin: 0px;
   padding: 12px 20px 12px 20px;
   margin-right: 10px;
}

/* Link on author's pseudo (link to history of posts) */

.postBlockTextTopLeftSide .postAuthor a
{
   text-decoration: none;
   color: white;
   font-family: "Roboto", "Arial", "Serif";
}

.postBlockTextTopLeftSide .postAuthor a:hover
{
   color: #36c4ff; /* Lighter than the usual light blue */
}

/* Helps to make some underlying divs take the whole space */

.clear
{
   clear: both;
   width: 100%;
}

/* Container for attachment (+ inner alignment). */

.postAttachment
{
   display: block;
   width: auto;
   min-width: 760px;
   margin: 20px; /* Margin of 20px from every side */
   text-align: center;
}

.postAttachmentAlign
{
   padding: 0px 10px 10px 145px;
}

.postAttachmentAlign p
{
   margin: 0px 0px 15px;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   color: black;
   text-align: justify;
}

.postAttachmentAlign a
{
   text-decoration: none;
   color: #3475e5;
}

.postAttachmentAlign a:hover
{
   color: blue;
}

/* Larger container (for Uploads.php) */

.uploadsPool
{
   display: block;
   width: auto;
   min-width: 760px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 20px;
   margin-right: 20px;
   text-align: center;
}

/* Container for uploads in attachment to forum posts. */

.uploadDisplay
{
   display: inline-block;
   background-color: white;
   margin-right: 7px;
   margin-bottom: 7px;
   border-radius: 2px;
   line-height: 0;
   box-shadow: 0px 0px 3px 0px #646464;
}

.uploadDisplayAlign
{
   padding: 4px;
}

.uploadDisplayAlign img:hover
{
   cursor: pointer;
}

.uploadDisplayAlign video:hover
{
   cursor: pointer;
}

.uploadDisplayAlign .hiddenMedia
{
   display: table-cell;
   margin: 0px;
   width: 225px;
   height: 143px;
   text-align: center;
   vertical-align: middle;
   font-size: 5rem; /* ~80px */
   color: white;
   background-color: #646464;
   cursor: pointer;
}

/*
* Placeholders for pages in "flow" navigation mode.
*/

.pagePlaceholder
{
   display: block;
   width: auto;
   min-width: 760px;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
   border-radius: 5px;
   box-shadow: 0px 0px 3px 0px #646464;
   background-color: #3475e5;
   color: white;
}

.pagePlaceholder p
{
   margin: 0px;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   padding: 10px;
   text-align: center;
}

.singleMissingPage
{
   color: white;
}

.singleMissingPage:hover
{
   color: black;
   cursor: pointer;
}

.missingPage, .missingPages
{
   background-color: white;
   color: black;
   padding: 4px 7px;
   border-radius: 3px;
   box-shadow: 0px 0px 3px 0px #646464;
}

.missingPage:hover, .missingPages:hover
{
   background-color: black;
   color: white;
   cursor: pointer;
}

/*
* Wrapper for elements at the bottom of the screen (navMenu and slidingBlock).
*/

#bottomWrapper
{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
}

/*
* Plains blocks are blocks which should contain everything else than a topic header/post, mainly 
* reply forms (advanced mode) and errors. A sliding block, on the other hand, is used only once 
* (hence why it's not a class) and contains fast reply forms.
*/

.plainBlock
{
   width: auto;
   min-width: 760px;
   border-radius: 5px;
   background-color: white;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 20px;
   box-shadow: 0px 0px 3px 0px #646464;
}

#slidingBlock
{
   display: none;
   width: 100%;
   background-color: white;
   min-width: 800px;
}

.plainBlock p, #slidingBlock p
{
   margin : 0px;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   padding: 10px 10px 15px 10px;
   text-align: justify;
}

.plainBlock a, #slidingBlock a
{
   text-decoration: none;
   color: #3475e5;
}

.plainBlock a:hover, #slidingBlock a:hover
{
   color: blue;
}

.plainBlock h1
{
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   font-weight: normal;
   text-align: justify;
   color: white;
   background-color: black;
   padding: 7px 11px;
   border-radius: 4px 4px 0px 0px;
}

#slidingBlock h1
{
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   text-align: justify;
   color: white;
   background-color: black;
   padding: 7px;
   margin-top: 0px;
}

.plainBlock .formatButton, #slidingBlock .formatButton
{
   padding: 6px 6px 4px 6px;
   background-color: black;
   color: white;
   font-size: 1.25rem; /* ~20px */
   border-radius: 3px;
   cursor: pointer;
}

.plainBlock .formatButton:hover, #slidingBlock .formatButton:hover
{
   background-color: #3475e5;
}

.plainBlock #emoticonsDisplay, #slidingBlock #emoticonsDisplay
{
   display: none;
   height: 100px;
   margin-left: 10px;
   margin-right: 28px;
   margin-bottom: 5px;
   overflow-y: scroll;
   border: 1px solid #c8c8c8;
   font-size: 0;
}

.plainBlock #emoticonsDisplay .emoticon, #slidingBlock #emoticonsDisplay .emoticon
{
   display: inline-block;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
   cursor: pointer;
}

/*
* Quick preview style.
*/

#textareaWrapper p
{
   width: 98.5%;
   display: inline-block;
   padding: 0px 0px 0px 10px;
}

#textareaWrapper textarea
{
   height: 160px;
   margin: 0px;
   border: 1px solid #c8c8c8;
}

#slidingBlock #previewZone
{
   display: inline-block;
   margin: 0px;
   width: 49%;
   height: 158px;
   border: 1px solid #c8c8c8;
   background: none;
   overflow-y: auto;
   resize: vertical;
   margin-bottom: -4px;
}

@media screen and (max-width: 799px)
{
   #slidingBlock #previewZone
   {
      width: 45%;
   }
}

@media screen and (min-width: 800px) and (max-width: 999px)
{
   #slidingBlock #previewZone
   {
      width: 47%;
   }
}

#previewZone p
{
   padding: 3px;
   margin: 0px;
}

#previewZone .quotation, #previewZone .spoiler
{
   width: 96%;
   margin-left: 2%;
   border-top: 1px solid #c8c8c8;
   border-bottom: 1px solid #c8c8c8;
   border-left: 2px solid #3475e5;
   border-right: 1px solid #c8c8c8;
   background-color: white;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-right: 0px;
   padding: 5px;
}

#previewZone .spoiler a
{
   cursor: pointer;
}

#previewZone .userMiniAvatar
{
   padding: 0px;
   margin-right: 5px;
   border-radius: 50%;
   vertical-align: -40%;
}

#previewZone .userMiniPseudo
{
   font-size: 1rem; /* ~16px */
   font-weight: bold;
}

#previewZone .hiddenText
{
   background-color: black;
   color: black;
}

#previewZone .hiddenText:hover
{
   background-color: white;
   color: black;
}

#previewZone p .emoticon
{
   vertical-align: middle;
}

/*
* "Nav" menu, which is always visible at the bottom of the screen. Should always be above the 
* fast reply form when shown.
*/

#navMenu
{
   display: inline-block;
   background-color: rgba(0, 0, 0, 0.4);
   color: white;
   margin-left: 20px;
   margin-bottom: 20px;
   border-radius: 10px;
}

#navMenu:hover
{
   background-color: rgba(0, 0, 0, 0.9);
}

#navMenu p
{
   background: none;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 0.875rem; /* ~14px */
   padding-left: 10px;
   padding-right: 10px;
}

#navMenu .navMode, #navMenu .navRefresh
{
   font-size: 1.25rem; /* ~20px */
   vertical-align: -3px;
}

#navMenu select
{
   border: none;
   background-color: white;
   color: black;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 0.875rem; /* ~14px */
   margin-right: 6px;
   padding: 4px;
}

#navMenu .quickForm
{
   color: white;
}

#navMenu .quickForm:hover
{
   color: #646464;
   cursor: pointer;
}

#navMenu .navMode, #navMenu .navRefresh
{
   vertical-align: -25%;
   margin: 0px 3px;
   cursor: pointer;
}

/* Container and style for interactions. */

#interactionsContainer
{
   width: 100%;
   max-height: 250px;
   overflow-y: auto;
   margin-bottom: 8px;
}

.voter
{
   float: left;
   height: 30px;
   border-radius: 5px;
   margin-left: 5px;
   margin-top: 5px;
}

.voterAvatar
{
   width: 28px;
   height: 28px;
   float: left;
   border-radius: 5px 0px 0px 5px;
   margin: 0px;
   padding: 0px;
   border: 1px solid #c8c8c8;
}

.voterDetails
{
   height: 24px;
   float: left;
   border-radius: 0px 5px 5px 0px;
   background-color: #c8c8c8;
   color: black;
   margin: 0px;
   padding: 3px;
}

.voterDetails p
{
   font-size: 1rem; /* ~16px */
   margin: 2px 8px;
   padding: 0px;
}

.voterDetails i
{
   font-size: 1.25rem; /* ~20px */
   vertical-align: -2px;
}

/* Preview container (BEFORE showing any preview; style is modified afterwards) */

#preview
{
   display: none;
   opacity: 0.0;
   border: none;
   background: none;
}

/* Container for custom thumbnail preview. */

#previewThumbnail
{
   cursor: pointer;
}

/*
* Style for uploads menu.
*/

.uploadsView, .previousUploadsView
{
   padding: 3px;
}

.uploadView
{
   position: relative;
   float: left;
   margin: 0px 0px 6px 6px;
   background: none;
   border: 1px solid #c8c8c8;
   border-radius: 0px;
}

.uploadView a
{
   display: block;
   height: 100%;
   width: 100%;
   text-decoration: none;
}

.uploadView video, .uploadView img
{
   display: block;
   padding: 0px;
   margin: 0px;
}

/* Top part of a thumbnail */

.uploadViewTop
{
   position: absolute;
   z-index: 2;
}

.uploadViewTop img
{
   display: inline;
   margin: 0px;
   padding: 0px 2px;
   vertical-align: -10%;
}

.uploadViewTop a
{
   text-decoration: none;
   display: inline;
}

.uploadViewIcons
{
   float: right;
   margin: 0px;
   padding: 3px;
   border-radius: 0px 0px 5px 0px;
   background-color: black;
   opacity: 0.8;
   display: inline-block;
}

.uploadViewIcons i
{
   color: white;
   padding: 6px 3px;
   font-size: 1rem; /* ~16px */
}

.uploadViewIcons:hover
{
   opacity: 1.0;
}

.uploadViewIcons img:hover
{
   cursor: pointer;
}

/* Block similar to topicContent, for display in user management/post history pages */

#postsContainer
{
   display: block;
   width: auto;
   min-width: 800px;
   text-align: center;
}

#postsContainer .centeredText
{
   font-family: "Roboto", "Arial", "Serif";
   font-size: 1rem; /* ~16px */
   color: black;
   text-align: center;
}

#postsContainer .prettyLink, .messagesNav .prettyLink
{
   text-decoration: none;
   background-color: black;
   color: white;
   padding: 10px 20px;
   border-radius: 4px;
   box-shadow: 0px 0px 3px 0px #646464;
   font-family: "Roboto", "Arial", "Serif";
   font-size: 0.875rem; /* ~14px */
   border: none;
}

#postsContainer .prettyLink:hover, .messagesNav .prettyLink:hover
{
   background-color: #3475e5;
   color: white;
   cursor: pointer;
}

#postsContainer .prettyLink:active, .messagesNav .prettyLink:active
{
   background-color: #646464;
}
