/**
* This style sheet overrides some properties of topic.css to adapt the style used to render a 
* topic such that the avatars, font sizes, etc. are slightly smaller ("medium" mode).
*/

#topicContent .centeredAlert
{
   font-size: 0.875rem; /* ~14px */
}

.messagesNav .topicMenu
{
   font-size: 0.875rem; /* ~14px */
}

.topicMenu a
{
   font-size: 0.875rem; /* ~14px */
}

.messagesNav .prettyText
{
   font-size: 0.875rem; /* ~14px */
}

.postBlockLeftColumn
{
   width: 100px;
}

.postBlockAvatar
{
   width: 100px;
   height: 100px;
}

.postBlockText
{
   min-width: 650px;
   min-height: 100px;
}

.postBlockText h1
{
   min-width: 630px;
   font-size: 1rem; /* ~16px */
   padding: 8px;
}

.postBlockText p
{
   font-size: 0.875rem; /* ~14px */
   padding: 10px;
}

.postBlockTextTop p
{
   font-size: 0.875rem; /* ~14px */
   padding: 8px;
}

.postBlockTextTop .realigned
{
   padding-top: 10px;
   padding-bottom: 6px;
}

.postBlockText h2
{
   padding: 8px;
}

.postBlockText li
{
   font-size: 0.875rem; /* ~14px */
}

.postBlockTextTopLeftSide .postAuthor
{
   padding: 10px 20px;
}

.postAttachmentAlign p
{
   font-size: 0.875rem; /* ~14px */
}

.pagePlaceholder p
{
   font-size: 0.875rem; /* ~14px */
}

.plainBlock p, #slidingBlock p
{
   margin: 0px;
   font-size: 0.875rem; /* ~14px */
}

#postsContainer .centeredText
{
   font-size: 0.875rem; /* ~14px */
}

#postsContainer .prettyLink, .messagesNav .prettyLink
{
   font-size: 0.75rem; /* ~12px */
}
