/* Container of a topic header. */

#topicHeader
{
   position: fixed;
   top: 47px;
   width: 100%;
   z-index: 20;
   border-bottom: 1px solid #9a9ba1;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

/* Title of the topic */

#topicHeader h1
{
   width: 100%;
   background-color: #888888;
   color: white;
   text-align: center;
   font-family: "arial", "calibri", "serif";
   font-size: 18px;
   font-weight: 200;
   padding: 10px;
   margin: 0px;
}

#topicHeader h1 a
{
   color: white;
   text-decoration: none;
}

#topicHeader h1 a:hover
{
   color: #58C8FF;
}

#topicHeader h1 i
{
   margin-left: 5px;
   cursor: pointer;
   line-height: 0;
}

/* Topic menu. */

#topicMenu
{
   background-color: #51535E;
   color: white;
   text-align: center;
   overflow: auto;
   white-space: nowrap;
}

#topicMenu a
{
   display: inline-block;
   color: white;
   text-decoration: none;
   padding: 7px 10px;
   font-family: "arial", "calibri", "serif";
   font-size: 13px;
}

#topicMenu a:hover
{
   color: #58C8FF;
}

#topicMenu .highlighted
{
   display: inline-block;
   color: #58C8FF;
   font-weight: 1000;
   padding: 7px 10px;
   font-family: "arial", "calibri", "serif";
   font-size: 13px;
}

#topicMenu a i, #topicMenu .highlighted i
{
   margin-right: 5px;
   font-size: 13px;
}

/* Topic thumbnail (visible on hover). */

.topicThumbnail
{
   border-radius: 5px;
   width: 260px;
   height: 162px;
   position: fixed;
   display: none;
}

/* Placeholder (shifts the rest of the page below the #topicHeader) */

#topicHeaderPlaceholder
{
   width: 100%;
   height: 90px;
   background: none;
}

/* Specific p for keywords. */

.topicKeywords
{
   text-align: center;
   font-family: "Arial", "Serif";
   font-size: 15px;
   background: none;
   margin: 0px;
   line-height: 170%;
   color: black;
   padding: 10px;
}

.topicKeywords a
{
   display: inline-block;
   text-decoration: none;
   color: white;
   background-color: #646464; /* Default */
   border-radius: 12px;
   padding: 2px 12px;
   margin-right: 3px;
   margin-bottom: 5px;
}

.topicKeywords a:hover
{
   background-color: #969696; /* Default */
}