/**
* This style sheet defines the style used to render a topic. This sheet is also responsive to the 
* resolution of a browser.
*/

/* This block will contain everything related to a topic: header, posts or reply form. */

#topicContent
{
   width: 100%;
   min-width: 800px;
}

#topicContent .centeredAlert
{
   margin-top: 15px;
   margin-bottom: 10px;
   color: black;
   font-family: "arial", "serif";
   font-size: 13px;
   text-align: center;
}

/* Elements to display the list of pages in a pretty way. */

.messagesNav
{
   display: block;
   width: auto;
   min-width: 760px;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 20px;
}

.messagesNav .topicMenu
{
   margin: 0px;
   color: black;
   font-family: "arial", "serif";
   font-size: 13px;
   text-align: center;
}

.topicMenu a
{
   text-decoration: none;
   background-color: #383A49;
   color: white;
   padding: 6px 15px;
   border-radius: 4px;
   font-family: "arial", "serif";
   font-size: 13px;
   border: none;
}

.topicMenu a:hover
{
   background-color: #557083;
   color: white;
}

.messagesNav .prettyText
{
   background-color: rgb(100,100,100);
   color: white;
   padding: 6px 15px;
   border-radius: 4px;
   font-family: "arial", "serif";
   font-size: 13px;
   border: none;
}

.messagesNav .prettyText:hover
{
   background-color: rgb(240,240,240);
   color: black;
   cursor: pointer;
}

.messagesNav select
{
   font-family: "arial", "serif";
   font-size: 12px;
   padding: 4px 3px;
   margin: 0px 4px;
}

.messagesNav button
{
   background-color: #383A49;
   color: white;
   padding: 6px 15px;
   border-radius: 4px;
   font-family: "arial", "serif";
   font-size: 13px;
   border: none;
}

.pagesNav
{
   margin-bottom: 15px;
   padding: 5px;
   color: black;
   font-family: "arial", "serif";
   font-size: 14px;
   text-align: center;
}

.pagesNav a
{
   text-decoration: none;
   color: #155dc8;
}

.pagesNav a:hover
{
   color: blue;
}

.hiddenPages
{
   display: none;
}

.unhidePages
{
   color: black;
   cursor: pointer;
   background-color : white;
   padding: 4px 7px;
   border-radius: 3px;
}

.unhidePages:hover
{
   color: grey;
}

.pageLink
{
   color: #155dc8;
   background-color: white;
   padding: 4px 7px;
   border-radius: 3px;
}

.pageLink:hover, .pageLink a:hover
{
   color: black;
   cursor: pointer;
}

.pageLinkSelected
{
   color: black;
   background-color : rgb(180, 180, 180);
   padding: 4px 7px;
   border-radius: 3px;
}

/* Container for a duo post/avatar. */

.postBlock
{
   display: block;
   width: auto;
   min-width: 760px;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
}

/* Left column of a post (avatar + author's pseudo). */

.postBlockLeftColumn
{
   float: left;
   display: block;
   width: 100px;
   margin-right: 10px;
}

.postBlockAvatar
{
   width: 100px;
   height: 100px;
   border-radius: 5px;
}

/* Text part of a post */

.postBlockText
{
   display: block;
   overflow: hidden;
   width: auto;
   min-width: 650px;
   min-height: 100px;
   margin: 0px 0px 0px 10px;
   border-radius: 5px;
   background-color: white;
}

.postBlockText img, .postBlockText video
{
   max-width: 100%;
}

.postBlockText .emoticon
{
   vertical-align: middle;
}

.postBlockText  .miniature
{
   border: none;
   cursor: pointer;
}

.postBlockText h1
{
   width: auto;
   min-width: 630px;
   background-color: #383A49;
   margin: 0px;
   border-radius: 5px 5px 0px 0px;
   color: white;
   font-family: "arial", "calibri", "serif";
   font-size: 16px;
   padding: 8px;
}

.postBlockText p
{
   margin: 0px;
   font-family: "arial", "calibri", "serif";
   font-size: 13px;
   padding: 10px;
   text-align: justify;
}

.postBlockTextTop p
{
   margin: 0px;
   font-family: "arial", "calibri", "serif";
   font-size: 13px;
   padding: 8px;
   text-align: justify;
}

.postBlockTextTop .realigned
{
   padding-top: 10px;
   padding-bottom: 6px;
}

.postBlockText h2
{
   margin: 0px;
   font-family: "arial", "calibri", "serif";
   font-size: 20px;
   padding: 8px;
   text-align: justify;
}

.postBlockText ul 
{
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 25px;
   padding-right: 10px;
}

.postBlockText li
{
   font-family: "arial", "calibri", "serif";
   font-size: 13px;
   text-align: justify;
   margin-top: 10px;
}

.postBlockText a
{
   text-decoration: none;
   color: #155dc8;
}

.postBlockText a:hover
{
   color: blue;
}

/* Quotation */

.postBlockText .quotation, .postBlockText .spoiler
{
   width: 96%;
   margin-left: 2%;
   border-top: 1px solid rgb(220, 220, 220);
   border-bottom: 1px solid rgb(220, 220, 220);
   border-left: 2px solid #155dc8;
   border-right: 1px solid rgb(220, 220, 220);
   background-color: rgb(250,250,250);
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 0px;
}

.postBlockText .spoiler a
{
   cursor: pointer;
}

/* Pretty display of some user's pseudo */

.postBlockText .userMiniAvatar
{
   padding: 0px;
   margin-right: 5px;
   border-radius: 50%;
   vertical-align: -40%;
}

.postBlockText .userMiniPseudo
{
   font-size: 16px;
   font-weight: bold;
}

/* Hidden text */

.postBlockText .hiddenText
{
   background-color: black;
   color: black;
}

.postBlockText .hiddenText:hover
{
   background-color: white;
   color: black;
}

/* Top of the text part of a post (with dates, like/dislike buttons, etc.) */

.postBlockTextTop
{
   display: block;
   width: auto;
   border-radius: 5px 5px 0px 0px;
   background-color: #f0f0f0;
}

.postBlockTextTop p
{
   color: #6e6e6e;
}

.postBlockTextTopLeftSide
{
   float: left;
   width: 70%;
}

.postBlockTextTopRightCorner
{
   float: right;
   width: 30%;
}

.postBlockTextTopLeftSide .postAuthor
{
   float: left;
   border-radius: 5px 0px 0px 0px;
   background-color: #383A49;
   color: white;
   font-family: "arial", "calibri", "serif";
   margin: 0px;
   padding: 10px 20px;
   margin-right: 10px;
}

/* Link on author's pseudo (link to history of posts) */

.postBlockTextTopLeftSide .postAuthor a
{
   text-decoration: none;
   color: white;
   font-family: "arial", "calibri", "serif";
}

.postBlockTextTopLeftSide .postAuthor a:hover
{
   color: #00ffff;
}

/* Helps to make some underlying divs take the whole space */

.clear
{
   clear: both;
   width: 100%;
}

/* Container for attachment (+ inner alignment). */

.postAttachment
{
   display: block;
   width: auto;
   min-width: 760px;
   margin: 20px; /* Margin of 20px from every side */
   text-align: center;
}

.postAttachmentAlign
{
   padding: 0px 10px 10px 145px;
}

.postAttachmentAlign p
{
   margin: 0px 0px 15px;
   font-family: "calibri", "arial", "serif";
   font-size: 14px;
   color: black;
   text-align: justify;
}

.postAttachmentAlign a
{
   text-decoration: none;
   color: #155dc8;
}

.postAttachmentAlign a:hover
{
   color: blue;
}

/* Larger container (for Uploads.php) */

.uploadsPool
{
   display: block;
   width: auto;
   min-width: 760px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 20px;
   margin-right: 20px;
   text-align: center;
}

/* Container for uploads in attachment. */

.uploadDisplay
{
   display: inline-block;
   background-color: white;
   margin-right: 7px;
   margin-bottom: 7px;
   border-radius: 2px;
   line-height: 0;
}

.uploadDisplayAlign
{
   padding: 4px;
}

.uploadDisplayAlign img:hover
{
   cursor: pointer;
}

.uploadDisplayAlign video:hover
{
   cursor: pointer;
}

/*
* Placeholders for pages in "flow" navigation mode.
*/

.pagePlaceholder
{
   display: block;
   width: auto;
   min-width: 760px;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
   border-radius: 5px;
   background-color: #6699ff;
   color: white;
}

.pagePlaceholder p
{
   margin: 0px;
   font-family: "arial", "calibri", "serif";
   font-size: 13px;
   padding: 10px;
   text-align: center;
}

.singleMissingPage
{
   color: white;
}

.singleMissingPage:hover
{
   color: black;
   cursor: pointer;
}

.missingPage, .missingPages
{
   background-color: white;
   color: black;
   padding: 4px 7px;
   border-radius: 3px;
}

.missingPage:hover, .missingPages:hover
{
   background-color: #383A49;
   color: white;
   cursor: pointer;
}

/*
* Wrapper for elements at the bottom of the screen (navMenu and slidingBlock).
*/

#bottomWrapper
{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
}

/*
* Plains blocks are blocks which should contain everything else than a topic header/post, mainly 
* reply forms (advanced mode) and errors. A sliding block, on the other hand, is used only once 
* (hence why it's not a class) and contains fast reply forms.
*/

.plainBlock
{
   width: auto;
   min-width: 760px;
   border-radius: 5px;
   background-color: white;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 20px;
}

#slidingBlock
{
   display: none;
   width: 100%;
   background-color: white;
   min-width: 800px;
}

.plainBlock p, #slidingBlock p
{
   margin: 0px;
   font-family: "calibri", "arial", "serif";
   font-size: 14px;
   padding: 10px 10px 15px 10px;
   text-align: justify;
}

.plainBlock a, #slidingBlock a
{
   text-decoration: none;
   color: #155dc8;
}

.plainBlock a:hover, #slidingBlock a:hover
{
   color: blue;
}

.plainBlock h1
{
   font-family: "arial", "calibri", "serif";
   font-size: 16px;
   text-align: justify;
   color: white;
   background-color: #383A49;
   padding: 7px;
   border-radius: 4px 4px 0px 0px;
}

#slidingBlock h1
{
   font-family: "arial", "calibri", "serif";
   font-size: 16px;
   text-align: justify;
   color: white;
   background-color: #383A49;
   padding: 7px;
   margin-top: 0px;
}

.plainBlock .formatButton, #slidingBlock .formatButton
{
   padding: 4px;
   background-color: #383A49;
   border-radius: 3px;
   cursor: pointer;
}

.plainBlock .formatButton:hover, #slidingBlock .formatButton:hover
{
   background-color: #557083;
}

.plainBlock #emoticonsDisplay, #slidingBlock #emoticonsDisplay
{
   display: none;
   height: 100px;
   margin-left: 10px;
   margin-right: 28px;
   margin-bottom: 5px;
   overflow-y: scroll;
   border: 1px solid #DDDDDD;
   font-size: 0;
}

.plainBlock #emoticonsDisplay .emoticon, #slidingBlock #emoticonsDisplay .emoticon
{
   display: inline-block;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
   cursor: pointer;
}

/*
* Quick preview style.
*/

#textareaWrapper p
{
   width: 98.5%;
   display: inline-block;
   padding: 0px 0px 0px 10px;
}

#textareaWrapper textarea
{
   height: 160px;
   margin: 0px;
   border: 1px solid #DDDDDD;
}

#slidingBlock #previewZone
{
   display: inline-block;
   margin: 0px;
   width: 49%;
   height: 158px;
   border: 1px solid #DDDDDD;
   background: none;
   overflow-y: auto;
   resize: vertical;
   margin-bottom: -4px;
}

@media screen and (max-width: 799px)
{
   #slidingBlock #previewZone
   {
      width: 45%;
   }
}

@media screen and (min-width: 800px) and (max-width: 999px)
{
   #slidingBlock #previewZone
   {
      width: 47%;
   }
}

#previewZone p
{
   padding: 3px;
   margin: 0px;
}

#previewZone .quotation, #previewZone .spoiler
{
   width: 96%;
   margin-left: 2%;
   border-top: 1px solid rgb(220, 220, 220);
   border-bottom: 1px solid rgb(220, 220, 220);
   border-left: 2px solid #155dc8;
   border-right: 1px solid rgb(220, 220, 220);
   background-color: rgb(250,250,250);
   margin-top: 5px;
   margin-bottom: 5px;
   margin-right: 0px;
   padding: 5px;
}

#previewZone .spoiler a
{
   cursor: pointer;
}

#previewZone .userMiniAvatar
{
   padding: 0px;
   margin-right: 5px;
   border-radius: 50%;
   vertical-align: -40%;
}

#previewZone .userMiniPseudo
{
   font-size: 16px;
   font-weight: bold;
}

#previewZone .hiddenText
{
   background-color: black;
   color: black;
}

#previewZone .hiddenText:hover
{
   background-color: white;
   color: black;
}

#previewZone p .emoticon
{
   vertical-align: middle;
}

/*
* "Nav" menu, which is always visible at the bottom of the screen. Should always be above the 
* fast reply form when shown.
*/

#navMenu
{
   display: inline-block;
   background-color: rgba(56, 58, 73, 0.5);
   color: white;
   margin-left: 20px;
   margin-bottom: 20px;
   border-radius: 10px;
}

#navMenu:hover
{
   background-color: rgba(56, 58, 73, 1.0);
}

#navMenu p
{
   background: none;
   font-family: "arial", "calibri", "serif";
   font-size: 12px;
   padding-left: 10px;
   padding-right: 10px;
}

#navMenu select
{
   border: none;
   background-color: white;
   color: black;
   font-family: "arial", "calibri", "serif";
   font-size: 12px;
   margin-right: 6px;
   padding: 4px;
}

#navMenu .quickForm
{
   color: white;
}

#navMenu .quickForm:hover
{
   color: grey;
   cursor: pointer;
}

#navMenu .navMode, #navMenu .navRefresh
{
   vertical-align: -25%;
   margin: 0px 3px;
   cursor: pointer;
}

/* Buttons to vote for/against a post or report it */

.vote, .report, .postInteractions, .pin, .quote
{
   margin: 0px;
   padding: 0px;
   vertical-align: -20%;
   cursor: pointer;
}

.reported, .censorship
{
   margin: 0px;
   padding: 0px;
   vertical-align: -20%;
}

/* Style of icons being used used for the interactive buttons (like/dislike/report) */

.postIcon
{
   margin: 0px;
   padding: 0px;
   vertical-align: -25%;
}

/* Container and style for interactions. */

#interactionsContainer
{
   width: 100%;
   max-height: 250px;
   overflow-y: auto;
   margin-bottom: 8px;
}

.voter
{
   float: left;
   height: 30px;
   border-radius: 5px;
   margin-left: 5px;
   margin-top: 5px;
}

.voterAvatar
{
   width: 28px;
   height: 28px;
   float: left;
   border-radius: 5px 0px 0px 5px;
   margin: 0px;
   padding: 0px;
   border: 1px solid #b0b0b0;
}

.voterDetails
{
   height: 24px;
   float: left;
   border-radius: 0px 5px 5px 0px;
   background-color: #b0b0b0;
   color: black;
   margin: 0px;
   padding: 3px;
}

.voterDetails p
{
   font-size: 14px;
   margin: 2px 8px;
   padding: 0px;
}

.voterDetails .iconInteraction
{
   vertical-align: -25%;
}

/* Preview container (BEFORE showing any preview; style is modified afterwards) */

#preview
{
   display: none;
   opacity: 0.0;
   border: none;
   background: none;
}

/* Container for custom thumbnail preview. */

#previewThumbnail
{
   cursor: pointer;
}

/*
* Style for uploads menu.
*/

.uploadsView, .previousUploadsView
{
   padding: 3px;
}

.uploadView
{
   position: relative;
   float: left;
   margin: 0px 0px 6px 6px;
   background: none;
   border: 1px solid rgb(220, 220, 220);
   border-radius: 0px;
}

.uploadView a
{
   display: block;
   height: 100%;
   width: 100%;
   text-decoration: none;
}

.uploadView video, .uploadView img
{
   display: block;
   padding: 0px;
   margin: 0px;
}

/* Top part of a thumbnail */

.uploadViewTop
{
   position: absolute;
   z-index: 2;
}

.uploadViewTop img
{
   display: inline;
   margin: 0px;
   padding: 0px 2px;
   vertical-align: -10%;
}

.uploadViewTop a
{
   text-decoration: none;
   display: inline;
}

.uploadViewIcons
{
   float: right;
   margin: 0px;
   padding: 3px;
   border-radius: 0px 0px 5px 0px;
   background-color: #383A49;
   opacity: 0.8;
   display: inline-block;
}

.uploadViewIcons:hover
{
   opacity: 1.0;
}

.uploadViewIcons img:hover
{
   cursor: pointer;
}

/* Block similar to topicContent, for display in user management/post history pages */

#postsContainer
{
   display: block;
   width: auto;
   min-width: 800px;
   text-align: center;
}

#postsContainer .centeredText
{
   font-family: "calibri", "arial", "serif";
   font-size: 14px;
   color: black;
   text-align: center;
}

#postsContainer .prettyLink, .messagesNav .prettyLink
{
   text-decoration: none;
   background-color: #383A49;
   color: white;
   padding: 10px 20px;
   border-radius: 4px;
   font-family: "arial", "calibri", "serif";
   font-size: 12px;
   border: none;
}

#postsContainer .prettyLink:hover, .messagesNav .prettyLink:hover
{
   background-color: #557083;
   color: white;
   cursor: pointer;
}

#postsContainer .prettyLink:active, .messagesNav .prettyLink:active
{
   background-color: grey;
}
