{% extends "layouts/base.html.twig" %}

{% block content %}
	<div class="sectionBlock myAccount">
		<p class="title" role="alert">Erreur 404</p>
		<div class="content">
			<p>
				Cette page n'existe pas. Veuillez contacter l'administrateur si le problème persiste.
			</p>
         <p>
         <a href="{{ webRoot }}">Retourner à l'accueil</a>
         </p>
		</div>
	</div>
{% endblock %}
