RewriteEngine On
RewriteRule ^articles/([0-9]+)/([a-zA-Z0-9-]+)/page/([0-9]+)/?$ Article.php?id_article=$1&title=$2&section=$3 [L,QSA]
RewriteRule ^articles/([0-9]+)/([a-zA-Z0-9-]+)/([0-9]+)/?$ Article.php?id_article=$1&title=$2&section=$3 [L,QSA]
RewriteRule ^articles/([0-9]+)/([a-zA-Z0-9-]+)/?$ Article.php?id_article=$1&title=$2 [L,QSA]

RewriteRule ^articles/([a-zA-Z]+)/?$ Articles.php?article_category=$1 [L,QSA]
RewriteRule ^articles/([0-9]+)/?$ Articles.php?page=$1 [L,QSA]
RewriteRule ^articles/([a-zA-Z]+)/([0-9]+)/?$ Articles.php?page=$2&article_category=$1 [L,QSA]

RewriteRule ^trivia/([0-9]+)/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/?$ Trivia.php?id_trivia=$1&game=$2&title=$3 [L,QSA]

RewriteRule ^lists/([0-9]+)/([a-zA-Z0-9-]+)/?$ List.php?id_list=$1&title=$2 [L,QSA]
RewriteRule ^utilisateur/([a-zA-Z0-9-]+)/?$ User.php?user=$1 [L,QSA]
RewriteRule ^utilisateur/([a-zA-Z0-9-]+)/?$ User.php?user=$1 [L,QSA]
RewriteRule ^(moi|me)/?$ MyAccount.php [L,QSA]

RewriteRule ^mes-articles/?$ MyArticles.php [L,QSA]

RewriteRule ^inviter/?$ Sponsorship.php [L,QSA]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ controller/$1 [L]

# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 404 /Errors.php
